In [1]:
import pandas as pd

In [2]:
# Create dataframe for AZ

csv_path = "AZSerial.csv"
AZ_df = pd.read_csv(csv_path)
AZ_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,187,"Canonico, Frank Anthony",NaN,083805,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,243,"Coffman, Cynthia Lynn",NaN,W34001,CA - CCWF,Serial,2,1,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,859,NaN,4.0
2,310,"Danielson, Robert Wayne Jr.",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,328,"Day, William Scott",NaN,00129461,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,352,"Dudley, Irene Gwyn",NaN,NaN,NaN,Serial,2,1,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,353,NaN,NaN

In [3]:
AZ_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Canonico, Frank Anthony",Serial,8,USA-United States,FL / CA / LA / AZ,1938.0,40.0,1979.0,1981,1900,1970.0,Anger - Missionary - Loose women,1.0,NaN,NaN
1,"Coffman, Cynthia Lynn",Serial,4,USA-United States,AZ / CA,1962.0,24.0,1986.0,1986,1900,1980.0,Financial Gain - Robbery - Random Street,NaN,NaN,NaN
2,"Danielson, Robert Wayne Jr.",Serial,7,USA-United States,OR / AZ / CA,1946.0,35.0,1970.0,1982,1900,1970.0,Financial Gain - Robbery - Random Street,1.0,NaN,NaN
3,"Day, William Scott",Serial,6,USA-United States,AZ / TN / TX,1951.0,33.0,1986.0,1987,1900,1980.0,Financial Gain - Robbery - Random Street,1.0,NaN,NaN
4,"Dudley, Irene Gwyn",Serial,6,USA-United States,VA / NY / FL / AZ / KY,1917.0,41.0,1958.0,1961,1900,1950.0,Convenience,NaN,NaN,NaN