In [1]:
import pandas as pd

In [2]:
# Create dataframe for AZ

csv_path = "AZSerial.csv"
AZ_serial_df = pd.read_csv(csv_path)
AZ_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,187,"Canonico, Frank Anthony",NaN,083805,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,243,"Coffman, Cynthia Lynn",NaN,W34001,CA - CCWF,Serial,2,1,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,859,NaN,4.0
2,310,"Danielson, Robert Wayne Jr.",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,328,"Day, William Scott",NaN,00129461,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,352,"Dudley, Irene Gwyn",NaN,NaN,NaN,Serial,2,1,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,353,NaN,NaN