In [1]:
import pandas as pd

In [2]:
# Create dataframe for Colorado

csv_path = "COSerial.csv"
CO_serial_df = pd.read_csv(csv_path)
CO_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,158,"Browne, Robert Charles",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,164,"Buenoano, Judias",NaN,NaN,NaN,Serial,2,1,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,169,"Bundy, Theodore Robert","Bundy, Ted",A069063,FL - Raiford,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,407,"Glatman, Harvey Murray",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,495,"Gray, Marvin",NaN,43475,NaN,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Self Proclaimed,NaN