In [1]:
import pandas as pd

In [2]:
# Dataframe for Connecticut

csv_path = "CTSerial.csv"
CT_df = pd.read_csv(csv_path)
CT_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,39,"Archer-Gilligan, Amy",NaN,NaN,NaN,Serial,2,1,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,133,"Breton, Robert, J. Sr.",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,196,"Carr, Robert Frederick, III",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,301,"Culombe, Arthur",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,1218.0,NaN,NaN
4,369,"Edel, Frederick W.",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN

In [3]:
CT_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Archer-Gilligan, Amy",Serial,48,USA-United States,CT,1873.0,36.0,1907,1917,1900,1900,Financial Gain - Lethal Care Taker,1.0,0.0,0.0
1,"Breton, Robert, J. Sr.",Serial,3,USA-United States,CT,1946.0,20.0,1966,1987,1900,1960,Anger - Revenge,1.0,1.0,1.0
2,"Carr, Robert Frederick, III",Serial,4,USA-United States,FL / CT,NaN,29.0,1972,1976,1900,1970,Enjoyment - Rape,1.0,NaN,NaN
3,"Culombe, Arthur",Serial,6,USA-United States,CT,1923.0,33.0,1956,1957,1900,1950,Financial Gain - Robbery - Retail,1.0,NaN,NaN
4,"Edel, Frederick W.",Serial,3,USA-United States,CT / NY,NaN,37.0,1926,1927,1900,1920,Financial Gain - Robbery,1.0,NaN,NaN