In [1]:
import pandas as pd

In [2]:
# Dataframe for Georgia

csv_path = "GASerial.csv"
GA_serial_df = pd.read_csv(csv_path)
GA_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,11,"Akin, Joseph Dewey",NaN,NaN,NaN,Serial,1.0,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
1,15,"Allanson, Patricia Radcliffe","Taylor, Patricia; TAYLOR,MARY RADCLIFF; ALLISO...",0000394526,GA - Pulaski State Prison,Serial,2.0,1.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
2,54,"Bankston, Clinton",NaN,0000468785,GA - DOOLY STATE PRISON,Serial,1.0,2.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,75,"Belcher, Howard Milton",NaN,1076495,NaN,Serial,1.0,2.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,96,"Birt, Billy Sunday",NaN,403007,GA - SMITH STATE PRISON,Serial,1.0,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN