In [1]:
import pandas as pd

In [2]:
# Dataframe for Georgia

csv_path = "GASerial.csv"
GA_df = pd.read_csv(csv_path)
GA_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,11,"Akin, Joseph Dewey",NaN,NaN,NaN,Serial,1.0,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
1,15,"Allanson, Patricia Radcliffe","Taylor, Patricia; TAYLOR,MARY RADCLIFF; ALLISO...",0000394526,GA - Pulaski State Prison,Serial,2.0,1.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
2,54,"Bankston, Clinton",NaN,0000468785,GA - DOOLY STATE PRISON,Serial,1.0,2.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,75,"Belcher, Howard Milton",NaN,1076495,NaN,Serial,1.0,2.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,96,"Birt, Billy Sunday",NaN,403007,GA - SMITH STATE PRISON,Serial,1.0,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
GA_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Akin, Joseph Dewey",Serial,18.0,USA-United States,AL / GA,NaN,35.0,1991.0,1997.0,1900.0,1990.0,Enjoyment - Power - Angel of Death,0.0,NaN,NaN
1,"Allanson, Patricia Radcliffe",Serial,3.0,USA-United States,GA,1937.0,36.0,1974.0,1988.0,1900.0,1970.0,Financial Gain - Lethal Care Taker,1.0,0.0,0.0
2,"Bankston, Clinton",Serial,5.0,USA-United States,GA,1971.0,16.0,1987.0,1987.0,1900.0,1980.0,Financial Gain - Robbery - Home Invasion,0.0,NaN,NaN
3,"Belcher, Howard Milton",Serial,4.0,USA-United States,GA,1978.0,23.0,2002.0,2002.0,2000.0,2000.0,Financial Gain - Robbery - Sexual relationship,NaN,NaN,NaN
4,"Birt, Billy Sunday",Serial,3.0,USA-United States,GA,1937.0,34.0,1972.0,1973.0,1900.0,1970.0,Financial Gain - Robbery - Home Invasion,NaN,NaN,NaN