In [1]:
import pandas as pd

In [3]:
# Dataframe for Iowa

csv_path = "IASerial.csv"
IA_serial_df = pd.read_csv(csv_path, encoding = "ISO-8859-1")
IA_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,521,"Nelson, Earle Leonard",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,582,"Jordan, Gilbert Paul",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,9,NaN,NaN,NaN,NaN,NaN
2,770,"Kinney, James Allen",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,996,"Piper, Donald Arthur",NaN,1153862.0,IA - Iowa State Penitentiary,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1026,"Race, Glen Douglas",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN