In [1]:
import pandas as pd

In [2]:
# Dataframe for Illinois

csv_path = "ILSerial.csv"
IL_df = pd.read_csv(csv_path, encoding = "ISO-8859-1")
IL_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,12,"Albanese, Charles M.",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,16,"Allen, Bill",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,27,"Anderson, Dale R.",NaN,B06156,IL - Pontiac Correctional,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
3,33,"Andrews, Ralph Raymond",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,67,"Baughman, John Earl",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN

In [3]:
IL_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Albanese, Charles M.",Serial,3,USA-United States,IL,1946.0,34.0,1980.0,1981.0,1900.0,1980.0,Financial Gain - Family,NaN,NaN,NaN
1,"Allen, Bill",Serial,4,USA-United States,IL,NaN,NaN,1882.0,1882.0,1800.0,1880.0,Anger,NaN,NaN,NaN
2,"Anderson, Dale R.",Serial,3,USA-United States,IL,1951.0,36.0,1988.0,1989.0,1900.0,1980.0,Enjoyment - No rape,1.0,0.0,0.0
3,"Andrews, Ralph Raymond",Serial,7,USA-United States,IL,NaN,26.0,1971.0,1991.0,1900.0,1970.0,Enjoyment - Rape,NaN,NaN,NaN
4,"Baughman, John Earl",Serial,3,"USA-United States, ATG-Antigua",IL,1941.0,28.0,1970.0,1995.0,1900.0,1970.0,Anger - Revenge,0.0,NaN,NaN