In [2]:
import pandas as pd

In [3]:
# Dataframe for Louisiana

csv_path = "LAserial.csv"
LA_serial_df = pd.read_csv(csv_path)
LA_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,105,"Blank, Daniel Joseph",NaN,NaN,NaN,Serial,1.0,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,122,"Boyd, Lucious",NaN,NaN,NaN,Serial,1.0,2.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
2,146,"Brooks, John",NaN,120387,NaN,Serial,1.0,2.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,187,"Canonico, Frank Anthony",NaN,083805,NaN,Serial,1.0,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,241,"Code, Nathaniel Robert Jr.",NaN,NaN,NaN,Serial,1.0,2.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN