In [1]:
import pandas as pd

In [3]:
# Dataframe for Maryland

csv_path = "MDSerial.csv"
MD_serial_df = pd.read_csv(csv_path, encoding = "ISO-8859-1")
MD_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,111,"Bolding, Jane Francis",NaN,NaN,NaN,Serial,2,1.0,0.0,0,...,0,0,0,0,NaN,NaN,NaN,NaN,Serial-Suspected,2.0
1,120,"Bowles, Gary Ray","Whitfield, Timothy; Boles, Gary Ray; Bowles, M...",86158.0,FL - UNION C.I.,Serial,1,1.0,1.0,0,...,0,0,0,0,999,NaN,NaN,NaN,NaN,NaN
2,186,"Cannon, Martha Patricia","Cannon, Lucretia",NaN,NaN,Serial,2,1.0,0.0,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,222,"Christenson, William Dean",NaN,NaN,NaN,Serial,1,1.0,1.0,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,228,"Clark, Hadden I.",NaN,233181.0,NaN,Serial,1,1.0,1.0,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN