In [1]:
import pandas as pd

In [2]:
csv_path = "OKserial.csv"
OK_df = pd.read_csv(csv_path)
OK_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,28,"Anderson, Joshua Julius",NaN,586755,"OK - Oklahoma State Penitentiary, Mcalester",Serial,1,2,0,0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,70,"Beach, Aleata Mae",NaN,NaN,NaN,Serial,2,1,0,0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Self Proclaimed,NaN
2,128,"Braun, Gregg Francis",NaN,NaN,NaN,Serial,1,1,1,1,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,248,"Coleman, Charles Troy",NaN,103494,NaN,Serial,1,1,1,0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,253,"Comer, Chester",NaN,NaN,NaN,Serial,1,1,1,1,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
OK_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

In [ ]:
OK_df[["Name", "NumVics"]].head()