In [1]:
import pandas as pd

In [3]:
csv_path = "PAserial.csv"
PA_df = pd.read_csv(csv_path)
PA_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,109,"Bolber, Morris",NaN,D-6210,PA - Eastern State Penitentiary,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,"1391,1582",NaN,NaN
1,114,"Bomar, Arthur Jerome",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,132,"Breslin, Joseph F.",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
3,222,"Christenson, William Dean",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,225,"Christopher, Leonard",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN

In [4]:
PA_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Bolber, Morris",Serial,30,USA-United States,PA,1890.0,NaN,1932.0,1938,1900,1930.0,Financial Gain,NaN,NaN,NaN
1,"Bomar, Arthur Jerome",Serial,3,USA-United States,PA,1959.0,37.0,1978.0,1997,1900,1970.0,Enjoyment - Rape,NaN,NaN,NaN
2,"Breslin, Joseph F.",Serial,4,USA-United States,NV / CA / PA,1950.0,32.0,1982.0,1982,1900,1980.0,Multiple motives,1.0,NaN,NaN
3,"Christenson, William Dean",Serial,4,"USA-United States, CAN-Canada",PA / MD,NaN,36.0,1982.0,1983,1900,1980.0,Multiple motives,1.0,NaN,NaN
4,"Christopher, Leonard",Serial,9,USA-United States,PA,1951.0,33.0,1985.0,1990,1900,1980.0,Enjoyment - Rape,NaN,NaN,NaN

In [ ]:
PA_df[["Name", "NumVics"]].head()