In [1]:
import pandas as pd

In [2]:
csv_path = "SDserial.csv"
SD_df = pd.read_csv(csv_path)
SD_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,3193,"Sitts, George",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
SD_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Sitts, George",Serial,3,USA-United States,MN / SD,NaN,32,1945,1946,1900,1940,Multiple motives,NaN,NaN,NaN

In [5]:
SD_df[["Name", "NumVics"]].head()

            Name  NumVics
0  Sitts, George        3