In [678]:
import pandas as pd
from functools import reduce
import numpy
import string
import math

In [679]:
# Create dataframe for Alaska

csv_path = "AKserial.csv"
AK_df = pd.read_csv(csv_path)
AK_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,167,"Bunday, Thomas Richard",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,191,"Carignan, Harvey Louis",NaN,100736.0,MN - Minnesota Correctional Facility Stillwater,Serial,1,1,1,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,278,"Courtney, Robert Lezelle",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,398,"Fautenberry, John Joseph",NaN,279989.0,NaN,Serial,1,1,1,1,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,589,"Hansen, Robert Christian",NaN,12882.0,AK - Spring Creek Correctional Center,Serial,1,1,1,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [680]:
#df = AK_df.set_index("ID")
#df.head()

In [681]:
# filtered columns

AK_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Bunday, Thomas Richard",Serial,5,USA-United States,AK,1948.0,30.0,1979,1981,1900,1970,Enjoyment - Rape,NaN,NaN,1.0
1,"Carignan, Harvey Louis",Serial,5,USA-United States,MN / AK / WA,1927.0,46.0,1972,1974,1900,1970,Mental Illness - Visionary,1.0,1.0,1.0
2,"Courtney, Robert Lezelle",Serial,6,USA-United States,CA / AK,1944.0,13.0,1958,1992,1900,1950,Anger - Revenge,1.0,NaN,NaN
3,"Fautenberry, John Joseph",Serial,6,USA-United States,AK / OH / OR,1963.0,27.0,1990,1991,1900,1990,Financial Gain - Robbery - Random Street,1.0,1.0,1.0
4,"Hansen, Robert Christian",Serial,17,USA-United States,AK,1939.0,34.0,1973,1983,1900,1970,Enjoyment - Rape,1.0,1.0,0.0

In [682]:
AK_df[["Name", "NumVics"]].head()

                       Name  NumVics
0    Bunday, Thomas Richard        5
1    Carignan, Harvey Louis        5
2  Courtney, Robert Lezelle        6
3  Fautenberry, John Joseph        6
4  Hansen, Robert Christian       17

In [683]:
# Create dataframe for Alabama

csv_path = "ALserial.csv"
AL_df = pd.read_csv(csv_path)
AL_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,11,"Akin, Joseph Dewey",NaN,NaN,NaN,Serial,1.0,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
1,155,"Brown, Raymond Eugene",NaN,NaN,NaN,Serial,1.0,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,313,"Daughtrey, Earl Llewellyn, Jr.",NaN,NaN,NaN,Serial,1.0,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
3,346,"Doss, Nancy Hazle","Doss, Nanny; Hazle Nancy; Hazel, Nancy",NaN,NaN,Serial,2.0,1,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,409,"Glover, Fred",NaN,NaN,NaN,Serial,1.0,2,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [684]:
# filtered columns

AL_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Akin, Joseph Dewey",Serial,18,USA-United States,AL / GA,NaN,35.0,1991.0,1997.0,1900.0,1990.0,Enjoyment - Power - Angel of Death,0.0,NaN,NaN
1,"Brown, Raymond Eugene",Serial,5,USA-United States,AL,1946.0,14.0,1960.0,1987.0,1900.0,1960.0,Anger - Lost Control,1.0,NaN,NaN
2,"Daughtrey, Earl Llewellyn, Jr.",Serial,3,USA-United States,AL / GA,1950.0,22.0,1971.0,1985.0,1900.0,1970.0,Enjoyment - No rape,1.0,NaN,NaN
3,"Doss, Nancy Hazle",Serial,11,USA-United States,OK / NC / KS / AL,1905.0,18.0,1927.0,1954.0,1900.0,1920.0,Financial Gain - Black Widow,0.0,1.0,1.0
4,"Glover, Fred",Serial,15,USA-United States,AL,NaN,NaN,1919.0,1923.0,1900.0,1910.0,Financial Gain - Robbery - Retail,NaN,NaN,NaN

In [685]:
AL_df[["Name", "NumVics"]].head()

                             Name  NumVics
0              Akin, Joseph Dewey       18
1           Brown, Raymond Eugene        5
2  Daughtrey, Earl Llewellyn, Jr.        3
3               Doss, Nancy Hazle       11
4                    Glover, Fred       15

In [686]:
# Create dataframe for Arizona

csv_path = "AZserial.csv"
AZ_df = pd.read_csv(csv_path)
AZ_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,187,"Canonico, Frank Anthony",NaN,083805,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,243,"Coffman, Cynthia Lynn",NaN,W34001,CA - CCWF,Serial,2,1,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,859,NaN,4.0
2,310,"Danielson, Robert Wayne Jr.",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,328,"Day, William Scott",NaN,00129461,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,352,"Dudley, Irene Gwyn",NaN,NaN,NaN,Serial,2,1,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,353,NaN,NaN

In [687]:
AZ_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Canonico, Frank Anthony",Serial,8,USA-United States,FL / CA / LA / AZ,1938.0,40.0,1979.0,1981,1900,1970.0,Anger - Missionary - Loose women,1.0,NaN,NaN
1,"Coffman, Cynthia Lynn",Serial,4,USA-United States,AZ / CA,1962.0,24.0,1986.0,1986,1900,1980.0,Financial Gain - Robbery - Random Street,NaN,NaN,NaN
2,"Danielson, Robert Wayne Jr.",Serial,7,USA-United States,OR / AZ / CA,1946.0,35.0,1970.0,1982,1900,1970.0,Financial Gain - Robbery - Random Street,1.0,NaN,NaN
3,"Day, William Scott",Serial,6,USA-United States,AZ / TN / TX,1951.0,33.0,1986.0,1987,1900,1980.0,Financial Gain - Robbery - Random Street,1.0,NaN,NaN
4,"Dudley, Irene Gwyn",Serial,6,USA-United States,VA / NY / FL / AZ / KY,1917.0,41.0,1958.0,1961,1900,1950.0,Convenience,NaN,NaN,NaN

In [688]:
AZ_df[["Name", "NumVics"]].head()

                          Name  NumVics
0      Canonico, Frank Anthony        8
1        Coffman, Cynthia Lynn        4
2  Danielson, Robert Wayne Jr.        7
3           Day, William Scott        6
4           Dudley, Irene Gwyn        6

In [689]:
# Create dataframe for Arkansas

csv_path = "ARserial.csv"
AR_df = pd.read_csv(csv_path, encoding = "ISO-8859-1")
AR_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,166,"Bullock, Leroy",NaN,00143727,TN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,291,"Cream, Thomas Neill Dr.",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,335,"Denton, Earl Van",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,537,"Hall, James Waybern",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,561,"Olson, Devon Stuart",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Self Proclaimed,NaN

In [690]:
AR_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Bullock, Leroy",Serial,7,USA-United States,AR / TN / VA,1943.0,44.0,1988.0,1989.0,1900.0,1980.0,Financial Gain - Robbery - Home Invasion,NaN,NaN,NaN
1,"Cream, Thomas Neill Dr.",Serial,7,"CAN-Canada, USA-United States, ENG-England",Ontario / IL / London,1850.0,27.0,1877.0,1892.0,1800.0,1870.0,Enjoyment - No rape,1.0,0.0,0.0
2,"Denton, Earl Van",Serial,6,USA-United States,AR,NaN,27.0,NaN,1977.0,1900.0,NaN,Enjoyment - No rape,NaN,NaN,NaN
3,"Hall, James Waybern",Serial,5,USA-United States,AR,NaN,38.0,1944.0,1945.0,1900.0,1940.0,Financial Gain - Robbery - Random Street,1.0,NaN,NaN
4,"Olson, Devon Stuart",Serial,4,USA-United States,CA / TX / AR,1958.0,27.0,1986.0,1986.0,1900.0,1980.0,Enjoyment - No rape,1.0,NaN,NaN

In [691]:
AR_df[["Name", "NumVics"]].head()

                      Name  NumVics
0           Bullock, Leroy        7
1  Cream, Thomas Neill Dr.        7
2         Denton, Earl Van        6
3      Hall, James Waybern        5
4      Olson, Devon Stuart        4

In [692]:
# Create dataframe for Californa

csv_path = "CAserial5ormore.csv"
CA_df = pd.read_csv(csv_path)
CA_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,14,"Alcala, Rodney James",NaN,C18300,CA - San Quentin,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,25.0,NaN,NaN,NaN,NaN,NaN
1,25,"Anderson, Allen Leroy",NaN,101147,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,36,"Archerd, William Dale",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,49,"Atkins, Susan",NaN,WO8304,CA,Serial,2,1,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,856,NaN,NaN
4,91,"Bianchi, Kenneth A.","Walker, Steve; Billy; Ish; DAmato, Anthony A.;...",266961,WA - Washington State Penitentiary,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,170,NaN,NaN

In [693]:
CA_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Alcala, Rodney James",Serial,8,USA-United States,CA / NY,1943.0,27.0,1971.0,1979.0,1900.0,1970.0,Enjoyment - Rape,1.0,0.0,0.0
1,"Anderson, Allen Leroy",Serial,8,USA-United States,CA / FL / MN / VA,1943.0,33.0,1976.0,1976.0,1900.0,1970.0,Financial Gain - Robbery - Random Street,1.0,NaN,NaN
2,"Archerd, William Dale",Serial,6,USA-United States,CA / NV,1912.0,35.0,1947.0,1966.0,1900.0,1940.0,Enjoyment - Power - Bluebeard,1.0,NaN,NaN
3,"Atkins, Susan",Serial,8,USA-United States,CA,1948.0,21.0,1969.0,1969.0,1900.0,1960.0,Cult,1.0,NaN,NaN
4,"Bianchi, Kenneth A.",Serial,12,USA-United States,CA / WA,1951.0,26.0,1977.0,1979.0,1900.0,1970.0,Enjoyment - Rape,0.0,0.0,1.0

In [694]:
CA_df[["Name", "NumVics"]].head()

                    Name  NumVics
0   Alcala, Rodney James        8
1  Anderson, Allen Leroy        8
2  Archerd, William Dale        6
3          Atkins, Susan        8
4    Bianchi, Kenneth A.       12

In [695]:
# Create dataframe for Colorado

csv_path = "COserial.csv"
CO_df = pd.read_csv(csv_path)
CO_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,158,"Browne, Robert Charles",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,164,"Buenoano, Judias",NaN,NaN,NaN,Serial,2,1,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,169,"Bundy, Theodore Robert","Bundy, Ted",A069063,FL - Raiford,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,407,"Glatman, Harvey Murray",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,495,"Gray, Marvin",NaN,43475,NaN,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Self Proclaimed,NaN

In [696]:
CO_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Browne, Robert Charles",Serial,8,USA-United States,CO,1952.0,27.0,1980.0,1991.0,1900.0,1980.0,Enjoyment - No rape,1.0,1.0,1.0
1,"Buenoano, Judias",Serial,3,USA-United States,FL / CO,1943.0,28.0,1971.0,1980.0,1900.0,1970.0,Financial Gain - Black Widow,1.0,1.0,1.0
2,"Bundy, Theodore Robert",Serial,31,USA-United States,CA / CO / FL / ID / OR / WA,1946.0,27.0,1974.0,1978.0,1900.0,1970.0,Enjoyment - Rape,1.0,0.0,0.0
3,"Glatman, Harvey Murray",Serial,3,USA-United States,CO / CA,1927.0,30.0,1957.0,1958.0,1900.0,1950.0,Enjoyment - Rape,1.0,0.0,0.0
4,"Gray, Marvin",Serial,5,USA-United States,CO,1954.0,21.0,1975.0,1992.0,1900.0,1970.0,Enjoyment - Power,1.0,1.0,NaN

In [697]:
CO_df[["Name", "NumVics"]].head()

                     Name  NumVics
0  Browne, Robert Charles        8
1        Buenoano, Judias        3
2  Bundy, Theodore Robert       31
3  Glatman, Harvey Murray        3
4            Gray, Marvin        5

In [698]:
# Create dataframe for Connecticut

csv_path = "CTserial.csv"
CT_df = pd.read_csv(csv_path)
CT_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,39,"Archer-Gilligan, Amy",NaN,NaN,NaN,Serial,2,1,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,133,"Breton, Robert, J. Sr.",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,196,"Carr, Robert Frederick, III",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,301,"Culombe, Arthur",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,1218.0,NaN,NaN
4,369,"Edel, Frederick W.",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN

In [699]:
CT_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Archer-Gilligan, Amy",Serial,48,USA-United States,CT,1873.0,36.0,1907,1917,1900,1900,Financial Gain - Lethal Care Taker,1.0,0.0,0.0
1,"Breton, Robert, J. Sr.",Serial,3,USA-United States,CT,1946.0,20.0,1966,1987,1900,1960,Anger - Revenge,1.0,1.0,1.0
2,"Carr, Robert Frederick, III",Serial,4,USA-United States,FL / CT,NaN,29.0,1972,1976,1900,1970,Enjoyment - Rape,1.0,NaN,NaN
3,"Culombe, Arthur",Serial,6,USA-United States,CT,1923.0,33.0,1956,1957,1900,1950,Financial Gain - Robbery - Retail,1.0,NaN,NaN
4,"Edel, Frederick W.",Serial,3,USA-United States,CT / NY,NaN,37.0,1926,1927,1900,1920,Financial Gain - Robbery,1.0,NaN,NaN

In [700]:
CT_df[["Name", "NumVics"]].head()

                          Name  NumVics
0         Archer-Gilligan, Amy       48
1       Breton, Robert, J. Sr.        3
2  Carr, Robert Frederick, III        4
3              Culombe, Arthur        6
4           Edel, Frederick W.        3

In [701]:
# Create dataframe for Delaware

csv_path = "DEserial.csv"
DE_df = pd.read_csv(csv_path, encoding = "ISO-8859-1")
DE_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,244,"Cohen, Charles Mark",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,663,"Hunt, Brian Alpress",NaN,775734.0,NaN,Serial,1,1,1,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,734,"Jones, Sydney",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,984,"Pennell, Steven Brian",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,1040,"Red Dog, James Allen",NaN,NaN,NaN,Serial,1,5,0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [702]:
DE_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Cohen, Charles Mark",Serial,3,USA-United States,DE / CA,1964.0,23.0,1988.0,1989.0,1900.0,1980.0,Multiple motives,0.0,0.0,0.0
1,"Hunt, Brian Alpress",Serial,4,USA-United States,FL / TN / DE,1949.0,42.0,1992.0,1999.0,1900.0,1990.0,Anger - Lost Control,1.0,NaN,NaN
2,"Jones, Sydney",Serial,13,USA-United States,USA Nationwide,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
3,"Pennell, Steven Brian",Serial,5,USA-United States,DE,1957.0,30.0,1987.0,1988.0,1900.0,1980.0,Enjoyment - No rape,NaN,0.0,0.0
4,"Red Dog, James Allen",Serial,4,USA-United States,DE / MT / CA,NaN,19.0,1973.0,1991.0,1900.0,1970.0,Anger,1.0,NaN,NaN

In [703]:
DE_df[["Name", "NumVics"]].head()

                    Name  NumVics
0    Cohen, Charles Mark        3
1    Hunt, Brian Alpress        4
2          Jones, Sydney       13
3  Pennell, Steven Brian        5
4   Red Dog, James Allen        4

In [704]:
# Create dataframe for Florida

csv_path = "FLAserial.csv"
FL_df = pd.read_csv(csv_path)
FL_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,2,"Ables, Tony Alvin","THADAISIS GORDON, MICHAEL JONES, JAMES SELBEY","29850, 029850",FL - LAKE C.I.,Serial,1,2,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,25,"Anderson, Allen Leroy",NaN,101147,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,59,"Rode, Adolph James","Barone, Cesar",NaN,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,44,NaN,NaN,NaN,NaN,NaN
3,77,"Bell, Larry Gene",NaN,39872,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,78,"Bell, Michael Bernard",NaN,108426,FL - UNION C.I.,Serial,1,2,0.0,0.0,...,0,0,0.0,0.0,"25,25,25",NaN,NaN,NaN,NaN,NaN

In [705]:
FL_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Ables, Tony Alvin",Serial,4,USA-United States,FL,1954.0,28.0,1970.0,1990.0,1900.0,1970.0,Enjoyment - Rape,1.0,NaN,NaN
1,"Anderson, Allen Leroy",Serial,8,USA-United States,CA / FL / MN / VA,1943.0,33.0,1976.0,1976.0,1900.0,1970.0,Financial Gain - Robbery - Random Street,1.0,NaN,NaN
2,"Rode, Adolph James",Serial,5,USA-United States,OR / FL,1960.0,30.0,1979.0,1992.0,1900.0,1970.0,Enjoyment - Rape,1.0,0.0,0.0
3,"Bell, Larry Gene",Serial,3,USA-United States,SC / FL,1949.0,35.0,1984.0,1985.0,1900.0,1980.0,Enjoyment - Rape,1.0,NaN,NaN
4,"Bell, Michael Bernard",Serial,5,USA-United States,FL,1970.0,19.0,1989.0,1993.0,1900.0,1980.0,Anger,1.0,NaN,NaN

In [706]:
FL_df[["Name", "NumVics"]].head()

                    Name  NumVics
0      Ables, Tony Alvin        4
1  Anderson, Allen Leroy        8
2     Rode, Adolph James        5
3       Bell, Larry Gene        3
4  Bell, Michael Bernard        5

In [707]:
# Create dataframe for Georgia

csv_path = "GAserial.csv"
GA_df = pd.read_csv(csv_path)
GA_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,11,"Akin, Joseph Dewey",NaN,NaN,NaN,Serial,1.0,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
1,15,"Allanson, Patricia Radcliffe","Taylor, Patricia; TAYLOR,MARY RADCLIFF; ALLISO...",0000394526,GA - Pulaski State Prison,Serial,2.0,1.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
2,54,"Bankston, Clinton",NaN,0000468785,GA - DOOLY STATE PRISON,Serial,1.0,2.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,75,"Belcher, Howard Milton",NaN,1076495,NaN,Serial,1.0,2.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,96,"Birt, Billy Sunday",NaN,403007,GA - SMITH STATE PRISON,Serial,1.0,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [708]:
GA_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Akin, Joseph Dewey",Serial,18.0,USA-United States,AL / GA,NaN,35.0,1991.0,1997.0,1900.0,1990.0,Enjoyment - Power - Angel of Death,0.0,NaN,NaN
1,"Allanson, Patricia Radcliffe",Serial,3.0,USA-United States,GA,1937.0,36.0,1974.0,1988.0,1900.0,1970.0,Financial Gain - Lethal Care Taker,1.0,0.0,0.0
2,"Bankston, Clinton",Serial,5.0,USA-United States,GA,1971.0,16.0,1987.0,1987.0,1900.0,1980.0,Financial Gain - Robbery - Home Invasion,0.0,NaN,NaN
3,"Belcher, Howard Milton",Serial,4.0,USA-United States,GA,1978.0,23.0,2002.0,2002.0,2000.0,2000.0,Financial Gain - Robbery - Sexual relationship,NaN,NaN,NaN
4,"Birt, Billy Sunday",Serial,3.0,USA-United States,GA,1937.0,34.0,1972.0,1973.0,1900.0,1970.0,Financial Gain - Robbery - Home Invasion,NaN,NaN,NaN

In [709]:
GA_df[["Name", "NumVics"]].head()

                           Name  NumVics
0            Akin, Joseph Dewey     18.0
1  Allanson, Patricia Radcliffe      3.0
2             Bankston, Clinton      5.0
3        Belcher, Howard Milton      4.0
4            Birt, Billy Sunday      3.0

In [710]:
# Create dataframe for Hawaii

csv_path = "HIserial.csv"
HI_df = pd.read_csv(csv_path)
HI_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,41,"Armstrong, John Eric",NaN,362407-2084912M,MI- Michigan Reformaory,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,6.0
1,1430,"Bartsch, Juergen",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1435,"Beck, Ernst Dieter",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1455,"Black, Robert",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1464,"Boost, Werner",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [711]:
HI_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Armstrong, John Eric",Serial,6,"USA-United States, HKG-Hong Kong, SGP-Singapor...",HI / VA / OR / MI / NC,1973.0,20.0,1992.0,2000.0,2000.0,1990.0,Enjoyment - Rape,0.0,1.0,1.0
1,"Bartsch, Juergen",Serial,4,DEU-Germany,North Rhine-Westphalia,1946.0,15.0,1962.0,1966.0,1900.0,1960.0,Enjoyment - Rape,0.0,NaN,NaN
2,"Beck, Ernst Dieter",Serial,3,DEU-Germany,North Rhine-Westphalia,1941.0,20.0,1961.0,1968.0,1900.0,1960.0,Enjoyment - Rape,NaN,NaN,NaN
3,"Black, Robert",Serial,5,"NIR-Northern Ireland, ENG-England, SCT-Scotland",East Midlands / Yorkshire and the Humber,1947.0,34.0,1978.0,1986.0,1900.0,1970.0,Enjoyment - Rape,1.0,1.0,1.0
4,"Boost, Werner",Serial,5,DEU-Germany,North Rhine-Westphalia,1928.0,24.0,1953.0,1956.0,1900.0,1950.0,Enjoyment - No rape,1.0,NaN,NaN

In [712]:
HI_df[["Name", "NumVics"]].head()

                   Name  NumVics
0  Armstrong, John Eric        6
1      Bartsch, Juergen        4
2    Beck, Ernst Dieter        3
3         Black, Robert        5
4         Boost, Werner        5

In [713]:
# Create dataframe for Idaho

csv_path = "IDserial.csv"
ID_df = pd.read_csv(csv_path)
ID_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,169,"Bundy, Theodore Robert","Bundy, Ted",A069063,FL - Raiford,Serial,1,1,1,1,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,358,"Duncan, Joesph Edward",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,563,"O`Neall, Darren Dee",ONeall,949114,NaN,Serial,1,2,0,0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,734,"Jones, Sydney",NaN,NaN,NaN,Serial,1,2,0,0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1000,"Pizzuto, Gerald Ross",NaN,NaN,NaN,Serial,1,1,1,1,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [714]:
ID_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Bundy, Theodore Robert",Serial,31,USA-United States,CA / CO / FL / ID / OR / WA,1946.0,27.0,1974.0,1978.0,1900.0,1970.0,Enjoyment - Rape,1.0,0.0,0.0
1,"Duncan, Joesph Edward",Serial,7,USA-United States,ID / WA / CA,1963.0,42.0,2005.0,2005.0,2000.0,2000.0,Enjoyment - Rape,1.0,NaN,1.0
2,"O`Neall, Darren Dee",Serial,6,USA-United States,WA / ID / UT,1960.0,26.0,1987.0,1987.0,1900.0,1980.0,Enjoyment - Rape,1.0,0.0,0.0
3,"Jones, Sydney",Serial,13,USA-United States,USA Nationwide,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
4,"Pizzuto, Gerald Ross",Serial,4,USA-United States,ID / WA,1956.0,29.0,1985.0,1985.0,1900.0,1980.0,Financial Gain - Robbery - Home Invasion,1.0,NaN,NaN

In [715]:
ID_df[["Name", "NumVics"]].head()

                     Name  NumVics
0  Bundy, Theodore Robert       31
1   Duncan, Joesph Edward        7
2     O`Neall, Darren Dee        6
3           Jones, Sydney       13
4    Pizzuto, Gerald Ross        4

In [716]:
# Create dataframe for Illinois

csv_path = "ILserial.csv"
IL_df = pd.read_csv(csv_path, encoding = "ISO-8859-1")
IL_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,12,"Albanese, Charles M.",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,16,"Allen, Bill",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,27,"Anderson, Dale R.",NaN,B06156,IL - Pontiac Correctional,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
3,33,"Andrews, Ralph Raymond",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,67,"Baughman, John Earl",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN

In [717]:
IL_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Albanese, Charles M.",Serial,3,USA-United States,IL,1946.0,34.0,1980.0,1981.0,1900.0,1980.0,Financial Gain - Family,NaN,NaN,NaN
1,"Allen, Bill",Serial,4,USA-United States,IL,NaN,NaN,1882.0,1882.0,1800.0,1880.0,Anger,NaN,NaN,NaN
2,"Anderson, Dale R.",Serial,3,USA-United States,IL,1951.0,36.0,1988.0,1989.0,1900.0,1980.0,Enjoyment - No rape,1.0,0.0,0.0
3,"Andrews, Ralph Raymond",Serial,7,USA-United States,IL,NaN,26.0,1971.0,1991.0,1900.0,1970.0,Enjoyment - Rape,NaN,NaN,NaN
4,"Baughman, John Earl",Serial,3,"USA-United States, ATG-Antigua",IL,1941.0,28.0,1970.0,1995.0,1900.0,1970.0,Anger - Revenge,0.0,NaN,NaN

In [718]:
IL_df[["Name", "NumVics"]].head()

                     Name  NumVics
0    Albanese, Charles M.        3
1             Allen, Bill        4
2       Anderson, Dale R.        3
3  Andrews, Ralph Raymond        7
4     Baughman, John Earl        3

In [719]:
# Create dataframe for Indiana

csv_path = "INserial.csv"
IN_df = pd.read_csv(csv_path, encoding = "ISO-8859-1")
IN_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,17,"Allen, Howard Arthur",NaN,881978,Indiana,Serial,1,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,24,"Amos, Lowell Edwin",NaN,252661,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
2,68,"Baumeister, Herbert",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,102,"Bladel, Rudy",NaN,158760,MI - Southern Mich Correctional Maximum,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,142,"Britt, Eugene",NaN,963641,NaN,Serial,1,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [720]:
IN_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Allen, Howard Arthur",Serial,3,USA-United States,IN,1949.0,38.0,1974.0,1987.0,1900.0,1970.0,Financial Gain - Robbery - Home Invasion,1.0,1.0,1.0
1,"Amos, Lowell Edwin",Serial,4,USA-United States,MI / IN,1943.0,35.0,1979.0,1994.0,1900.0,1970.0,Enjoyment - Power - Bluebeard,0.0,NaN,NaN
2,"Baumeister, Herbert",Serial,18,USA-United States,IN,1947.0,38.0,1985.0,1994.0,1900.0,1980.0,Enjoyment - No rape,1.0,1.0,1.0
3,"Bladel, Rudy",Serial,7,USA-United States,IN / MI,1932.0,30.0,1963.0,1978.0,1900.0,1960.0,Anger - Revenge,NaN,NaN,NaN
4,"Britt, Eugene",Serial,10,USA-United States,IN,1957.0,38.0,1995.0,1995.0,1900.0,1990.0,Enjoyment - Rape,1.0,1.0,NaN

In [721]:
IN_df[["Name", "NumVics"]].head()

                   Name  NumVics
0  Allen, Howard Arthur        3
1    Amos, Lowell Edwin        4
2   Baumeister, Herbert       18
3          Bladel, Rudy        7
4         Britt, Eugene       10

In [722]:
# Create dataframe for Iowa

csv_path = "IAserial.csv"
IA_df = pd.read_csv(csv_path, encoding = "ISO-8859-1")
IA_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,521,"Nelson, Earle Leonard",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,582,"Jordan, Gilbert Paul",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,9,NaN,NaN,NaN,NaN,NaN
2,770,"Kinney, James Allen",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,996,"Piper, Donald Arthur",NaN,1153862.0,IA - Iowa State Penitentiary,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1026,"Race, Glen Douglas",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [723]:
IA_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Nelson, Earle Leonard",Serial,26,"USA-United States, CAN-Canada",CA / OR / WA / IL / IA / MI / MO,1897.0,28.0,1925.0,1927.0,1900.0,1920.0,Enjoyment - Rape,1.0,1.0,0.0
1,"Jordan, Gilbert Paul",Serial,8,CAN-Canada,British Columbia,1931.0,33.0,1965.0,1987.0,1900.0,1960.0,Enjoyment,1.0,NaN,NaN
2,"Kinney, James Allen",Serial,3,USA-United States,WA / MI / IA,1949.0,48.0,1997.0,1998.0,1900.0,1990.0,Enjoyment - Rape,NaN,NaN,1.0
3,"Piper, Donald Arthur",Serial,3,USA-United States,IA,1961.0,32.0,1993.0,1997.0,1900.0,1990.0,Enjoyment - Rape,NaN,NaN,NaN
4,"Race, Glen Douglas",Serial,3,"USA-United States, CAN-Canada",NY / Nova Scotia,1981.0,25.0,2007.0,2007.0,2000.0,2000.0,Multiple motives,NaN,NaN,NaN

In [724]:
IA_df[["Name", "NumVics"]].head()

                    Name  NumVics
0  Nelson, Earle Leonard       26
1   Jordan, Gilbert Paul        8
2    Kinney, James Allen        3
3   Piper, Donald Arthur        3
4     Race, Glen Douglas        3

In [725]:
# Create dataframe for Kansas

csv_path = "KSserial.csv"
KS_df = pd.read_csv(csv_path)
KS_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,128,"Braun, Gregg Francis",NaN,NaN,NaN,Serial,1,1.0,1.0,1.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,346,"Doss, Nancy Hazle","Doss, Nanny; Hazle Nancy; Hazel, Nancy",NaN,NaN,Serial,2,1.0,0.0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,425,"Floyd, Cecil Henry",NaN,5271.0,NaN,Serial,1,1.0,1.0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,523,"Nemechek, Francis Donald",NaN,NaN,NaN,Serial,1,1.0,1.0,1.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,525,"Guatney, William J.",NaN,NaN,NaN,Serial,1,1.0,1.0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN

In [726]:
KS_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Braun, Gregg Francis",Serial,5,USA-United States,OK / KS / TX / NM,1961.0,27.0,1989.0,1989.0,1900.0,1980.0,Financial Gain - Robbery - Retail,NaN,NaN,NaN
1,"Doss, Nancy Hazle",Serial,11,USA-United States,OK / NC / KS / AL,1905.0,18.0,1927.0,1954.0,1900.0,1920.0,Financial Gain - Black Widow,0.0,1.0,1.0
2,"Floyd, Cecil Henry",Serial,6,USA-United States,IN / KS / NV / FL,1941.0,31.0,1973.0,1974.0,1900.0,1970.0,Financial Gain - Robbery - Retail,1.0,NaN,NaN
3,"Nemechek, Francis Donald",Serial,5,USA-United States,KS,1950.0,24.0,1974.0,1976.0,1900.0,1970.0,Anger - Revenge,1.0,NaN,NaN
4,"Guatney, William J.",Serial,5,USA-United States,NE / KS / IL,1922.0,52.0,1975.0,1979.0,1900.0,1970.0,Enjoyment - Rape,NaN,NaN,NaN

In [727]:
KS_df[["Name", "NumVics"]].head()

                       Name  NumVics
0      Braun, Gregg Francis        5
1         Doss, Nancy Hazle       11
2        Floyd, Cecil Henry        6
3  Nemechek, Francis Donald        5
4       Guatney, William J.        5

In [728]:
# Create dataframe for Kentucky

csv_path = "KYserial.csv"
KY_df = pd.read_csv(csv_path)
KY_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,3,"Abner, Michael Andrew",NaN,"83679, 207751",KY - Kentucky State Penitentiary,Serial,1,1,1,1.0,...,0,0,0.0,0.0,20.0,NaN,NaN,NaN,NaN,NaN
1,101,"Bixler, Rodney Troy",NaN,166817,KY - Northpoint Training Center,Serial,1,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,182,"Cable, James Ray",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,237.0,NaN,NaN
3,213,"Charleston, Shavonda",NaN,152010,NaN,Serial,2,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,237,"Clopton, Phillip E.",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,182.0,NaN,NaN

In [729]:
KY_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Abner, Michael Andrew",Serial,3,USA-United States,KY,1963.0,20.0,1983,2010,2000,1980,Financial Gain - Robbery - Home Invasion,NaN,NaN,NaN
1,"Bixler, Rodney Troy",Serial,3,USA-United States,KY,1968.0,31.0,2000,2000,2000,2000,Enjoyment - Rape,NaN,NaN,NaN
2,"Cable, James Ray",Serial,5,USA-United States,KY,1949.0,33.0,1982,1990,1900,1980,Enjoyment - Rape,1.0,NaN,NaN
3,"Charleston, Shavonda",Serial,4,USA-United States,KY,NaN,21.0,1999,2000,2000,1990,Convenience - didn't want babies,NaN,NaN,NaN
4,"Clopton, Phillip E.",Serial,3,USA-United States,KY,1950.0,38.0,1989,1990,1900,1980,Enjoyment - Rape,NaN,NaN,NaN

In [730]:
KY_df[["Name", "NumVics"]].head()

                    Name  NumVics
0  Abner, Michael Andrew        3
1    Bixler, Rodney Troy        3
2       Cable, James Ray        5
3   Charleston, Shavonda        4
4    Clopton, Phillip E.        3

In [731]:
# Create dataframe for Louisiana

csv_path = "LAserial.csv"
LA_df = pd.read_csv(csv_path)
LA_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,105,"Blank, Daniel Joseph",NaN,NaN,NaN,Serial,1.0,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,122,"Boyd, Lucious",NaN,NaN,NaN,Serial,1.0,2.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
2,146,"Brooks, John",NaN,120387,NaN,Serial,1.0,2.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,187,"Canonico, Frank Anthony",NaN,083805,NaN,Serial,1.0,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,241,"Code, Nathaniel Robert Jr.",NaN,NaN,NaN,Serial,1.0,2.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [732]:
LA_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Blank, Daniel Joseph",Serial,6,USA-United States,LA,1962.0,34.0,1996.0,1997.0,1900.0,1990.0,Financial Gain - Robbery - Home Invasion,0.0,NaN,NaN
1,"Boyd, Lucious",Serial,3,USA-United States,FL / LA,1959.0,38.0,1993.0,1999.0,1900.0,1990.0,Enjoyment - Rape,1.0,NaN,NaN
2,"Brooks, John",Serial,9,USA-United States,LA,1966.0,20.0,1986.0,1986.0,1900.0,1980.0,Financial Gain - Robbery - Random Street,1.0,NaN,NaN
3,"Canonico, Frank Anthony",Serial,8,USA-United States,FL / CA / LA / AZ,1938.0,40.0,1979.0,1981.0,1900.0,1970.0,Anger - Missionary - Loose women,1.0,NaN,NaN
4,"Code, Nathaniel Robert Jr.",Serial,12,USA-United States,LA,1956.0,28.0,1984.0,1987.0,1900.0,1980.0,Enjoyment - No rape,1.0,NaN,NaN

In [733]:
LA_df[["Name", "NumVics"]].head()

                         Name  NumVics
0        Blank, Daniel Joseph        6
1               Boyd, Lucious        3
2                Brooks, John        9
3     Canonico, Frank Anthony        8
4  Code, Nathaniel Robert Jr.       12

In [734]:
# Create dataframe for Maine

csv_path = "MEserial.csv"
MA_df = pd.read_csv(csv_path)
MA_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,421,"Fisher, Constance",NaN,NaN,NaN,Serial,2,1,0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,633,"Hicks, James Rodney",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,736,"Joubert, John",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,992,"Pierce, Charles E.",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,Serial-Self Proclaimed,NaN
4,1130,"Segee, Robert Dale",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [735]:
MA_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Fisher, Constance",Serial,6,USA-United States,ME,1929.0,24.0,1954,1966,1900,1950,Mental Illness,NaN,NaN,NaN
1,"Hicks, James Rodney",Serial,3,USA-United States,ME,1951.0,26.0,1977,1996,1900,1970,Enjoyment - No rape,1.0,0.0,0.0
2,"Joubert, John",Serial,3,USA-United States,NE / ME,1963.0,19.0,1982,1983,1900,1980,Enjoyment - No rape,0.0,0.0,0.0
3,"Pierce, Charles E.",Serial,5,USA-United States,MA / CT / ME,NaN,48.0,1969,1973,1900,1960,Enjoyment - Rape,NaN,NaN,NaN
4,"Segee, Robert Dale",Serial,4,USA-United States,NH / ME,1929.0,9.0,1938,1950,1900,1930,Enjoyment - No rape,0.0,1.0,1.0

In [736]:
MA_df[["Name", "NumVics"]].head()

                  Name  NumVics
0    Fisher, Constance        6
1  Hicks, James Rodney        3
2        Joubert, John        3
3   Pierce, Charles E.        5
4   Segee, Robert Dale        4

In [737]:
# Create dataframe for Maryland

csv_path = "MDserial.csv"
MD_df = pd.read_csv(csv_path, encoding = "ISO-8859-1")
MD_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,111,"Bolding, Jane Francis",NaN,NaN,NaN,Serial,2,1.0,0.0,0,...,0,0,0,0,NaN,NaN,NaN,NaN,Serial-Suspected,2.0
1,120,"Bowles, Gary Ray","Whitfield, Timothy; Boles, Gary Ray; Bowles, M...",86158.0,FL - UNION C.I.,Serial,1,1.0,1.0,0,...,0,0,0,0,999,NaN,NaN,NaN,NaN,NaN
2,186,"Cannon, Martha Patricia","Cannon, Lucretia",NaN,NaN,Serial,2,1.0,0.0,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,222,"Christenson, William Dean",NaN,NaN,NaN,Serial,1,1.0,1.0,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,228,"Clark, Hadden I.",NaN,233181.0,NaN,Serial,1,1.0,1.0,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [738]:
MD_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Bolding, Jane Francis",Serial,3,USA-United States,MD,NaN,26.0,1984,1984,1900,1980,Enjoyment - Power - Angel of Death,0.0,NaN,NaN
1,"Bowles, Gary Ray",Serial,6,USA-United States,FL / MD / GA,1962.0,32.0,1994,1994,1900,1990,Financial Gain - Robbery - Sexual relationship,1.0,1.0,1.0
2,"Cannon, Martha Patricia",Serial,4,USA-United States,MD,1783.0,19.0,1820,1824,1800,1820,Financial Gain - Robbery - Random Street,1.0,NaN,NaN
3,"Christenson, William Dean",Serial,4,"USA-United States, CAN-Canada",PA / MD,NaN,36.0,1982,1983,1900,1980,Multiple motives,1.0,NaN,NaN
4,"Clark, Hadden I.",Serial,3,USA-United States,MD,1951.0,35.0,1986,1992,1900,1980,Enjoyment - Rape,1.0,1.0,1.0

In [739]:
MD_df[["Name", "NumVics"]].head()

                        Name  NumVics
0      Bolding, Jane Francis        3
1           Bowles, Gary Ray        6
2    Cannon, Martha Patricia        4
3  Christenson, William Dean        4
4           Clark, Hadden I.        3

In [740]:
# Create dataframe for Massachusetts

csv_path = "MEserial.csv"
ME_df = pd.read_csv(csv_path)
ME_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,421,"Fisher, Constance",NaN,NaN,NaN,Serial,2,1,0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,633,"Hicks, James Rodney",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,736,"Joubert, John",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,992,"Pierce, Charles E.",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,Serial-Self Proclaimed,NaN
4,1130,"Segee, Robert Dale",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [741]:
ME_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Fisher, Constance",Serial,6,USA-United States,ME,1929.0,24.0,1954,1966,1900,1950,Mental Illness,NaN,NaN,NaN
1,"Hicks, James Rodney",Serial,3,USA-United States,ME,1951.0,26.0,1977,1996,1900,1970,Enjoyment - No rape,1.0,0.0,0.0
2,"Joubert, John",Serial,3,USA-United States,NE / ME,1963.0,19.0,1982,1983,1900,1980,Enjoyment - No rape,0.0,0.0,0.0
3,"Pierce, Charles E.",Serial,5,USA-United States,MA / CT / ME,NaN,48.0,1969,1973,1900,1960,Enjoyment - Rape,NaN,NaN,NaN
4,"Segee, Robert Dale",Serial,4,USA-United States,NH / ME,1929.0,9.0,1938,1950,1900,1930,Enjoyment - No rape,0.0,1.0,1.0

In [742]:
ME_df[["Name", "NumVics"]].head()

                  Name  NumVics
0    Fisher, Constance        6
1  Hicks, James Rodney        3
2        Joubert, John        3
3   Pierce, Charles E.        5
4   Segee, Robert Dale        4

In [743]:
# Create dataframe for Michigan

csv_path = "MIserial.csv"
MI_df = pd.read_csv(csv_path)
MI_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,4,"Abuelazam, Elias","Eli, Elias Abullazam",842658,NaN,Serial,1.0,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,24,"Amos, Lowell Edwin",NaN,252661,NaN,Serial,1.0,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
2,41,"Armstrong, John Eric",NaN,362407-2084912M,MI- Michigan Reformaory,Serial,1.0,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,6.0
3,47,"Atkins, Benjamin",NaN,237134,NaN,Serial,1.0,2.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,73,"Beck, Martha",NaN,NaN,NaN,Serial,2.0,1.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,402.0,NaN,NaN

In [744]:
MI_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Abuelazam, Elias",Serial,5,USA-United States,MI / VA / OH,1976.0,33.0,2009.0,2010.0,2000.0,2000.0,Anger - Racial,0.0,NaN,NaN
1,"Amos, Lowell Edwin",Serial,4,USA-United States,MI / IN,1943.0,35.0,1979.0,1994.0,1900.0,1970.0,Enjoyment - Power - Bluebeard,0.0,NaN,NaN
2,"Armstrong, John Eric",Serial,6,"USA-United States, HKG-Hong Kong, SGP-Singapor...",HI / VA / OR / MI / NC,1973.0,20.0,1992.0,2000.0,2000.0,1990.0,Enjoyment - Rape,0.0,1.0,1.0
3,"Atkins, Benjamin",Serial,11,USA-United States,MI,1968.0,23.0,1991.0,1992.0,1900.0,1990.0,Anger - Missionary - Prostitutes,1.0,1.0,NaN
4,"Beck, Martha",Serial,5,USA-United States,MI / IL / NY,1920.0,27.0,1948.0,1949.0,1900.0,1940.0,Financial Gain - Robbery - Sexual relationship,1.0,1.0,1.0

In [745]:
MI_df[["Name", "NumVics"]].head()

                   Name  NumVics
0      Abuelazam, Elias        5
1    Amos, Lowell Edwin        4
2  Armstrong, John Eric        6
3      Atkins, Benjamin       11
4          Beck, Martha        5

In [746]:
# Create dataframe for Minnesota

csv_path = "MNserial.csv"
MN_df = pd.read_csv(csv_path)
MN_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,25,"Anderson, Allen Leroy",NaN,101147.0,NaN,Serial,1,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,191,"Carignan, Harvey Louis",NaN,100736.0,MN - Minnesota Correctional Facility Stillwater,Serial,1,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,408,"Glaze, Billy Richard",NaN,NaN,NaN,Serial,1,5.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,642,"Hittle, Daniel Joe",NaN,NaN,NaN,Serial,1,1.0,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,810,"Lefthand, Michael Shane",NaN,162391.0,NaN,Serial,1,NaN,NaN,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [747]:
MN_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Anderson, Allen Leroy",Serial,8,USA-United States,CA / FL / MN / VA,1943.0,33.0,1976,1976,1900,1970,Financial Gain - Robbery - Random Street,1.0,NaN,NaN
1,"Carignan, Harvey Louis",Serial,5,USA-United States,MN / AK / WA,1927.0,46.0,1972,1974,1900,1970,Mental Illness - Visionary,1.0,1.0,1.0
2,"Glaze, Billy Richard",Serial,4,USA-United States,MN,1944.0,33.0,1986,1987,1900,1980,Enjoyment - Rape,1.0,NaN,NaN
3,"Hittle, Daniel Joe",Serial,7,USA-United States,TX / MN,1950.0,23.0,1973,1989,1900,1970,Anger - Revenge,1.0,NaN,NaN
4,"Lefthand, Michael Shane",Serial,3,USA-United States,MN / ND / WI,1960.0,25.0,1985,1990,1900,1980,Enjoyment,NaN,NaN,NaN

In [748]:
MN_df[["Name", "NumVics"]].head()

                      Name  NumVics
0    Anderson, Allen Leroy        8
1   Carignan, Harvey Louis        5
2     Glaze, Billy Richard        4
3       Hittle, Daniel Joe        7
4  Lefthand, Michael Shane        3

In [749]:
# Create dataframe for Mississippi

csv_path = "MSserial.csv"
MS_df = pd.read_csv(csv_path)
MS_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,324,"Davis, Gregory",NaN,46640,NaN,Serial,1,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,355,"Dufour, Donald William","Defour, Donald William","44,888,061,222","MS, FL - UNION C.I.",Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,390,"Evans, Donald Leroy",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,418,"Goodman, Keith Eugene",NaN,91-B-0194,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,620,"Henderson, Robert Dale",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [750]:
MS_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Davis, Gregory",Serial,4,USA-United States,MS / GA,1965.0,20.0,1986,1987,1900,1980,Financial Gain - Robbery - Home Invasion,1.0,NaN,NaN
1,"Dufour, Donald William",Serial,5,USA-United States,MS / FL,1956.0,26.0,1982,1982,1900,1980,Financial Gain - Robbery - Random Street,1.0,NaN,NaN
2,"Evans, Donald Leroy",Serial,3,USA-United States,MS / WA / TX,1957.0,20.0,1977,1991,1900,1970,Enjoyment - Rape,1.0,NaN,1.0
3,"Goodman, Keith Eugene",Serial,5,USA-United States,NY / MS / TN,1959.0,30.0,1989,1990,1900,1980,Financial Gain - Robbery - Home Invasion,1.0,NaN,NaN
4,"Henderson, Robert Dale",Serial,12,USA-United States,FL / OH / LA / MS,1945.0,34.0,1982,1982,1900,1980,Enjoyment - No rape,1.0,NaN,NaN

In [751]:
MS_df[["Name", "NumVics"]].head()

                     Name  NumVics
0          Davis, Gregory        4
1  Dufour, Donald William        5
2     Evans, Donald Leroy        3
3   Goodman, Keith Eugene        5
4  Henderson, Robert Dale       12

In [752]:
# Create dataframe for Missouri

csv_path = "MOserial.csv"
MO_df = pd.read_csv(csv_path)
MO_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,72,"Beardslee, Donald Jay",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,85,"Berdella, Robert Andrew",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,103,"Blair, Terry Anthony",Solid Gold,46436,MO - Potosi Correctional Center,Serial,1,2,0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,130,"Breeden, Gregory Wayne",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
4,156,"Brown, Vernon",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [753]:
MO_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Beardslee, Donald Jay",Serial,3,USA-United States,CA / MO,1943.0,26.0,1969.0,1981,1900,1960.0,Multiple motives,1.0,NaN,NaN
1,"Berdella, Robert Andrew",Serial,6,USA-United States,MO,1949.0,35.0,1984.0,1987,1900,1980.0,Enjoyment - Rape,1.0,0.0,0.0
2,"Blair, Terry Anthony",Serial,9,USA-United States,MO,1961.0,42.0,1982.0,2004,2000,1980.0,Enjoyment - Rape,1.0,NaN,NaN
3,"Breeden, Gregory Wayne",Serial,7,USA-United States,MO,1946.0,36.0,1982.0,1994,1900,1980.0,Enjoyment - Rape,NaN,NaN,NaN
4,"Brown, Vernon",Serial,3,USA-United States,MO / IN,1953.0,26.0,1980.0,1986,1900,1980.0,Enjoyment - Rape,1.0,1.0,1.0

In [754]:
MO_df[["Name", "NumVics"]].head()

                      Name  NumVics
0    Beardslee, Donald Jay        3
1  Berdella, Robert Andrew        6
2     Blair, Terry Anthony        9
3   Breeden, Gregory Wayne        7
4            Brown, Vernon        3

In [755]:
# Create dataframe for Montana

csv_path = "MTserial.csv"
MT_df = pd.read_csv(csv_path)
MT_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,439,"French, Anne",NaN,NaN,NaN,Serial,2,1,0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,440,"Mayer, William Donald",NaN,NaN,NaN,Serial,1,1,1,NaN,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,905,"Meirhofer, David",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,963,"Nance, Wayne Nathan",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
4,1040,"Red Dog, James Allen",NaN,NaN,NaN,Serial,1,5,0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [756]:
MT_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"French, Anne",Serial,3,USA-United States,MT / WA,NaN,NaN,1920,1928,1900,1920,Financial Gain - Robbery,NaN,NaN,NaN
1,"Mayer, William Donald",Serial,3,USA-United States,MT / WA,NaN,NaN,1920,1928,1900,1920,Financial Gain - Robbery,1.0,NaN,NaN
2,"Meirhofer, David",Serial,4,USA-United States,MT,1949.0,17.0,1967,1974,1900,1960,Enjoyment - Rape,NaN,NaN,NaN
3,"Nance, Wayne Nathan",Serial,6,USA-United States,MT,1955.0,18.0,1974,1985,1900,1970,Enjoyment - Rape,0.0,1.0,0.0
4,"Red Dog, James Allen",Serial,4,USA-United States,DE / MT / CA,NaN,19.0,1973,1991,1900,1970,Anger,1.0,NaN,NaN

In [757]:
MT_df[["Name", "NumVics"]].head()

                    Name  NumVics
0           French, Anne        3
1  Mayer, William Donald        3
2       Meirhofer, David        4
3    Nance, Wayne Nathan        6
4   Red Dog, James Allen        4

In [758]:
# Create dataframe for Nebraska

csv_path = "NEserial.csv"
NE_df = pd.read_csv(csv_path)
NE_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,525,"Guatney, William J.",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
1,736,"Joubert, John",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,1182,"Sorenson, Della Sidel",NaN,NaN,NaN,Serial,2,1,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1212,"Stutzman, Eli, E., Jr.",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1285,"Victor, Clarence",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [759]:
NE_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Guatney, William J.",Serial,5,USA-United States,NE / KS / IL,1922.0,52.0,1975,1979.0,1900.0,1970,Enjoyment - Rape,NaN,NaN,NaN
1,"Joubert, John",Serial,3,USA-United States,NE / ME,1963.0,19.0,1982,1983.0,1900.0,1980,Enjoyment - No rape,0.0,0.0,0.0
2,"Sorenson, Della Sidel",Serial,7,USA-United States,NE,1897.0,21.0,1918,1925.0,1900.0,1910,Anger - Revenge,NaN,NaN,NaN
3,"Stutzman, Eli, E., Jr.",Serial,5,USA-United States,OH / TX / NE / CO,1950.0,26.0,1977,1985.0,1900.0,1970,Multiple motives,NaN,NaN,NaN
4,"Victor, Clarence",Serial,3,USA-United States,NE,1932.0,31.0,1964,1987.0,1900.0,1960,Enjoyment - No rape,1.0,NaN,NaN

In [760]:
NE_df[["Name", "NumVics"]].head()

                     Name  NumVics
0     Guatney, William J.        5
1           Joubert, John        3
2   Sorenson, Della Sidel        7
3  Stutzman, Eli, E., Jr.        5
4        Victor, Clarence        3

In [761]:
# Create dataframe for Nevada

csv_path = "NVserial.csv"
NV_df = pd.read_csv(csv_path)
NV_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,22,"Amati, Tony R.",NaN,66673,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,"697,1104",NaN,NaN
1,36,"Archerd, William Dale",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,99,"Bishop, Jesse Walter",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Self Proclaimed,NaN
3,132,"Breslin, Joseph F.",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
4,163,"Buchanan, Denise Dianna",NaN,62587,NV,Serial,2,1,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [762]:
NV_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Amati, Tony R.",Serial,3,USA-United States,NV,1976.0,19.0,1996.0,1996,1900,1990.0,Enjoyment - No rape,NaN,NaN,NaN
1,"Archerd, William Dale",Serial,6,USA-United States,CA / NV,1912.0,35.0,1947.0,1966,1900,1940.0,Enjoyment - Power - Bluebeard,1.0,NaN,NaN
2,"Bishop, Jesse Walter",Serial,18,USA-United States,NV,1933.0,44.0,NaN,1977,1900,NaN,Financial Gain - Robbery,1.0,NaN,NaN
3,"Breslin, Joseph F.",Serial,4,USA-United States,NV / CA / PA,1950.0,32.0,1982.0,1982,1900,1980.0,Multiple motives,1.0,NaN,NaN
4,"Buchanan, Denise Dianna",Serial,3,USA-United States,NV,1966.0,23.0,1989.0,1994,1900,1980.0,Convenience - didn't want babies,0.0,NaN,NaN

In [763]:
NV_df[["Name", "NumVics"]].head()

                      Name  NumVics
0           Amati, Tony R.        3
1    Archerd, William Dale        6
2     Bishop, Jesse Walter       18
3       Breslin, Joseph F.        4
4  Buchanan, Denise Dianna        3

In [764]:
# Create dataframe for New Hampshire

csv_path = "NHserial.csv"
NH_df = pd.read_csv(csv_path)
NH_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,953,"Mudgett, Herman","Holmes, H. H.; Holmes, Henry Howard",NaN,NaN,Serial,1,1,1,1,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,1130,"Segee, Robert Dale",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,1502,"Chagas, Francisco Das",NaN,NaN,NaN,Serial,1,3,0,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2237,Yang Xinhai,Yang Zhiya,NaN,NaN,Serial,1,4,0,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2399,"Conkey, Craig",NaN,W60350,NaN,Serial,1,1,1,1,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [765]:
NH_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Mudgett, Herman",Serial,42,USA-United States,NH / IL,1861.0,27,1886,1896,1800,1880,Enjoyment - No rape,1.0,NaN,1.0
1,"Segee, Robert Dale",Serial,4,USA-United States,NH / ME,1929.0,9,1938,1950,1900,1930,Enjoyment - No rape,0.0,1.0,1.0
2,"Chagas, Francisco Das",Serial,42,BRA-Brazil,Maranhao / Para,1965.0,26,1991,2003,2000,1990,Enjoyment - Rape,NaN,NaN,NaN
3,Yang Xinhai,Serial,67,CHN-China,"Henan, Anhui, Shandong, Hebei",1968.0,30,1999,2003,2000,1990,Enjoyment - Rape,1.0,NaN,NaN
4,"Conkey, Craig",Serial,3,USA-United States,MA / NH,NaN,25,1992,1994,1900,1990,Financial Gain - Robbery - Home Invasion,NaN,NaN,NaN

In [766]:
NH_df[["Name", "NumVics"]].head()

                    Name  NumVics
0        Mudgett, Herman       42
1     Segee, Robert Dale        4
2  Chagas, Francisco Das       42
3            Yang Xinhai       67
4          Conkey, Craig        3

In [767]:
# Create dataframe for New Jersey

csv_path = "NJserial.csv"
NJ_df = pd.read_csv(csv_path)
NJ_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,37,"Balaam, Anthony",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,79,"Bellamy, Shiquan",NaN,000378894D,NaN,Serial,1,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,93,"Biegenwald, Richard Fran","Black, Johnnie",0000573588,NJ,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,162,"Bryan, Joseph Francis Jr.",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,252,"Colvin, Dellmus Charles",NaN,A536490,OH - Madison Correctional Institution,Serial,1,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [768]:
NJ_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Balaam, Anthony",Serial,4,USA-United States,NJ,1965.0,29.0,1994,1996,1900,1990,Enjoyment - Power,1.0,NaN,NaN
1,"Bellamy, Shiquan",Serial,5,USA-United States,NJ,1990.0,19.0,2010,2010,2000,2010,Financial Gain - Robbery - Random Street,1.0,NaN,NaN
2,"Biegenwald, Richard Fran",Serial,6,USA-United States,NJ,1940.0,40.0,1958,1982,1900,1950,Financial Gain - Robbery - Random Street,1.0,1.0,1.0
3,"Bryan, Joseph Francis Jr.",Serial,4,USA-United States,SC / FL / NJ / TN,1939.0,25.0,1964,1964,1900,1960,Enjoyment - Rape,1.0,NaN,NaN
4,"Colvin, Dellmus Charles",Serial,7,USA-United States,OH / NJ,1959.0,40.0,1987,2005,2000,1980,Enjoyment,1.0,NaN,NaN

In [769]:
NJ_df[["Name", "NumVics"]].head()

                        Name  NumVics
0            Balaam, Anthony        4
1           Bellamy, Shiquan        5
2   Biegenwald, Richard Fran        6
3  Bryan, Joseph Francis Jr.        4
4    Colvin, Dellmus Charles        7

In [770]:
# Create dataframe for New Mexico

csv_path = "NMserial.csv"
NM_df = pd.read_csv(csv_path)
NM_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,53,"Ballinger, Delray",NaN,NaN,NM - New Mexico Boys School,Serial,1,1,1,0.0,...,0,0,0.0,0.0,2.0,NaN,NaN,"80,229",NaN,NaN
1,80,"Bender, Jesse Howard",NaN,NaN,NM - New Mexico Boys School,Serial,1,1,1,0.0,...,0,0,0.0,0.0,2.0,NaN,NaN,"53,229",NaN,NaN
2,106,"Bloomfield, Clifton Duane",NaN,460278 / 69115,NM - GCCF,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,128,"Braun, Gregg Francis",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,229,"Clark, Matthew",NaN,NaN,NM - New Mexico Boys School,Serial,1,1,1,0.0,...,0,0,0.0,0.0,2.0,NaN,NaN,"53,80",NaN,NaN

In [771]:
NM_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Ballinger, Delray",Serial,3,USA-United States,NM,1958.0,16.0,1974,1974,1900,1970,Anger - Racial,0.0,NaN,NaN
1,"Bender, Jesse Howard",Serial,3,USA-United States,NM,1958.0,16.0,1974,1974,1900,1970,Anger - Racial,0.0,NaN,NaN
2,"Bloomfield, Clifton Duane",Serial,6,USA-United States,NM,1969.0,35.0,2004,2008,2000,2000,Financial Gain - Robbery - Home Invasion,1.0,NaN,NaN
3,"Braun, Gregg Francis",Serial,5,USA-United States,OK / KS / TX / NM,1961.0,27.0,1989,1989,1900,1980,Financial Gain - Robbery - Retail,NaN,NaN,NaN
4,"Clark, Matthew",Serial,3,USA-United States,NM,NaN,15.0,1974,1974,1900,1970,Anger - Racial,0.0,NaN,NaN

In [772]:
NM_df[["Name", "NumVics"]].head()

                        Name  NumVics
0          Ballinger, Delray        3
1       Bender, Jesse Howard        3
2  Bloomfield, Clifton Duane        6
3       Braun, Gregg Francis        5
4             Clark, Matthew        3

In [773]:
# Create dataframe for New York

csv_path = "NYserial.csv"
NY_df = pd.read_csv(csv_path)
NY_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,5,"Acevedo, Francisco A.",NaN,09A2456,NY - WENDE,Serial,1,3,0,0.0,...,0,0,0.0,0.0,75,NaN,NaN,NaN,---,NaN
1,8,"Adorno, George C.",NaN,NaN,NaN,Serial,1,3,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,9,"Aguilera, Jesus",NaN,82A6287,NY - Great Meadow,Serial,1,3,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,10,"Aikens, Thomas",NaN,81B0028,NaN,Serial,1,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,"695,884",NaN,NaN
4,14,"Alcala, Rodney James",NaN,C18300,CA - San Quentin,Serial,1,1,1,1.0,...,0,0,0.0,0.0,25,NaN,NaN,NaN,NaN,NaN

In [774]:
NY_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Acevedo, Francisco A.",Serial,3,USA-United States,NY,1968.0,21.0,1989,1996.0,1900.0,1980,Enjoyment - Rape,NaN,NaN,NaN
1,"Adorno, George C.",Serial,4,USA-United States,NY,1958.0,15.0,1974,1977.0,1900.0,1970,Enjoyment - No rape,NaN,NaN,NaN
2,"Aguilera, Jesus",Serial,4,USA-United States,NY,1954.0,27.0,1981,1981.0,1900.0,1980,Enjoyment - Power,1.0,NaN,NaN
3,"Aikens, Thomas",Serial,11,USA-United States,NY,1960.0,19.0,1980,1980.0,1900.0,1980,Financial Gain - Robbery - Retail,NaN,NaN,NaN
4,"Alcala, Rodney James",Serial,8,USA-United States,CA / NY,1943.0,27.0,1971,1979.0,1900.0,1970,Enjoyment - Rape,1.0,0.0,0.0

In [775]:
NY_df[["Name", "NumVics"]].head()

                    Name  NumVics
0  Acevedo, Francisco A.        3
1      Adorno, George C.        4
2        Aguilera, Jesus        4
3         Aikens, Thomas       11
4   Alcala, Rodney James        8

In [776]:
# Create dataframe for North Carolina

csv_path = "NCserial.csv"
NC_df = pd.read_csv(csv_path)
NC_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,19,"Allen, Quincy Javon",NaN,00006019,NaN,Serial,1,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,21,"Alston, Robert Sylvester",NaN,0006572,NC - Warren CI,Serial,1,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,41,"Armstrong, John Eric",NaN,362407-2084912M,MI- Michigan Reformaory,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,6.0
3,56,"Barfield, Velma Bullard",Margie Velma Bullard. Lillie Bullard,0019092,NC - North Carolina Correctional Institution f...,Serial,2,1,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,62,"Barton, Corey Robert",NaN,0663696,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [777]:
NC_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Allen, Quincy Javon",Serial,4.0,USA-United States,SC / NC,1979.0,22.0,2002.0,2002.0,2000.0,2000.0,Financial Gain - Robbery - Retail,NaN,NaN,NaN
1,"Alston, Robert Sylvester",Serial,4.0,USA-United States,NC,1969.0,21.0,1991.0,1993.0,1900.0,1990.0,Enjoyment - Rape,NaN,NaN,NaN
2,"Armstrong, John Eric",Serial,6.0,"USA-United States, HKG-Hong Kong, SGP-Singapor...",HI / VA / OR / MI / NC,1973.0,20.0,1992.0,2000.0,2000.0,1990.0,Enjoyment - Rape,0.0,1.0,1.0
3,"Barfield, Velma Bullard",Serial,5.0,USA-United States,NC,1932.0,36.0,1969.0,1978.0,1900.0,1960.0,Financial Gain - Black Widow,1.0,1.0,0.0
4,"Barton, Corey Robert",Serial,2.0,USA-United States,NC / CT,NaN,18.0,1983.0,1998.0,1900.0,1980.0,Anger,NaN,1.0,1.0

In [778]:
NC_df[["Name", "NumVics"]].head()

                       Name  NumVics
0       Allen, Quincy Javon      4.0
1  Alston, Robert Sylvester      4.0
2      Armstrong, John Eric      6.0
3   Barfield, Velma Bullard      5.0
4      Barton, Corey Robert      2.0

In [779]:
# Create dataframe for North Dakota

csv_path = "NDserial.csv"
ND_df = pd.read_csv(csv_path)
ND_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,177,"Butler, Eugene",NaN,NaN,NaN,Serial,1.0,1.0,1.0,NaN,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,291,"Cream, Thomas Neill Dr.",NaN,NaN,NaN,Serial,1.0,1.0,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,573,"Britland, Mary Ann",NaN,NaN,NaN,Serial,2.0,1.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,575,"Jebson, Ronald",NaN,NaN,NaN,Serial,1.0,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,810,"Lefthand, Michael Shane",NaN,162391.0,NaN,Serial,1.0,NaN,NaN,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [780]:
ND_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Butler, Eugene",Serial,6,USA-United States,ND,1848.0,NaN,NaN,NaN,NaN,NaN,Enjoyment,NaN,NaN,NaN
1,"Cream, Thomas Neill Dr.",Serial,7,"CAN-Canada, USA-United States, ENG-England",Ontario / IL / London,1850.0,27.0,1877.0,1892.0,1800.0,1870.0,Enjoyment - No rape,1.0,0.0,0.0
2,"Britland, Mary Ann",Serial,3,ENG-England,North West England,NaN,39.0,1886.0,1886.0,1800.0,1880.0,Financial Gain - Family,NaN,NaN,NaN
3,"Jebson, Ronald",Serial,3,ENG-England,London,1939.0,30.0,1970.0,1974.0,1900.0,1970.0,NaN,1.0,NaN,NaN
4,"Lefthand, Michael Shane",Serial,3,USA-United States,MN / ND / WI,1960.0,25.0,1985.0,1990.0,1900.0,1980.0,Enjoyment,NaN,NaN,NaN

In [781]:
ND_df[["Name", "NumVics"]].head()

                      Name  NumVics
0           Butler, Eugene        6
1  Cream, Thomas Neill Dr.        7
2       Britland, Mary Ann        3
3           Jebson, Ronald        3
4  Lefthand, Michael Shane        3

In [782]:
# Create dataframe for Ohio

csv_path = "OHserial.csv"
OH_df = pd.read_csv(csv_path, encoding = "ISO-8859-1")
OH_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,4,"Abuelazam, Elias","Eli, Elias Abullazam",842658,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,153,"Brown, Debra Denise",NaN,NaN,NaN,Serial,2,2,0,0.0,...,0,0,0.0,0.0,999.0,NaN,NaN,247.0,NaN,NaN
2,160,"Bruce, David Lance",NaN,A526704,NaN,Serial,1,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,197,"Carr, Thomas D.",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Self Proclaimed,NaN
4,247,"Coleman, Alton",NaN,865839,NaN,Serial,1,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,153.0,NaN,NaN

In [783]:
OH_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Abuelazam, Elias",Serial,5,USA-United States,MI / VA / OH,1976.0,33.0,2009.0,2010,2000,2000.0,Anger - Racial,0.0,NaN,NaN
1,"Brown, Debra Denise",Serial,8,USA-United States,IN / OH,1962.0,21.0,1984.0,1984,1900,1980.0,Enjoyment - Rape,0.0,1.0,1.0
2,"Bruce, David Lance",Serial,3,USA-United States,OH,1963.0,41.0,2005.0,2005,2000,2000.0,Enjoyment - Rape,NaN,NaN,NaN
3,"Carr, Thomas D.",Serial,14,USA-United States,OH,1846.0,23.0,NaN,1869,1800,NaN,Anger - Revenge,1.0,NaN,NaN
4,"Coleman, Alton",Serial,8,USA-United States,IL / IN / OH / WI,1955.0,28.0,1984.0,1984,1900,1980.0,Enjoyment - Rape,1.0,1.0,1.0

In [784]:
OH_df[["Name", "NumVics"]].head()

                  Name  NumVics
0     Abuelazam, Elias        5
1  Brown, Debra Denise        8
2   Bruce, David Lance        3
3      Carr, Thomas D.       14
4       Coleman, Alton        8

In [785]:
# Create dataframe for Oklahoma

csv_path = "OKserial.csv"
OK_df = pd.read_csv(csv_path)
OK_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,28,"Anderson, Joshua Julius",NaN,586755,"OK - Oklahoma State Penitentiary, Mcalester",Serial,1,2,0,0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,70,"Beach, Aleata Mae",NaN,NaN,NaN,Serial,2,1,0,0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Self Proclaimed,NaN
2,128,"Braun, Gregg Francis",NaN,NaN,NaN,Serial,1,1,1,1,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,248,"Coleman, Charles Troy",NaN,103494,NaN,Serial,1,1,1,0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,253,"Comer, Chester",NaN,NaN,NaN,Serial,1,1,1,1,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [786]:
OK_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Anderson, Joshua Julius",Serial,5,USA-United States,OK,1987.0,19.0,2006,2007,2000,2000,Financial Gain - Robbery,1.0,NaN,NaN
1,"Beach, Aleata Mae",Serial,4,USA-United States,OK,1946.0,48.0,1994,1994,1900,1990,Enjoyment - Power - Angel of Death,NaN,NaN,NaN
2,"Braun, Gregg Francis",Serial,5,USA-United States,OK / KS / TX / NM,1961.0,27.0,1989,1989,1900,1980,Financial Gain - Robbery - Retail,NaN,NaN,NaN
3,"Coleman, Charles Troy",Serial,3,USA-United States,OK,1947.0,31.0,1979,1979,1900,1970,Financial Gain - Robbery - Home Invasion,1.0,NaN,NaN
4,"Comer, Chester",Serial,5,USA-United States,OK,1910.0,24.0,1934,1935,1900,1930,Anger,NaN,NaN,NaN

In [787]:
OK_df[["Name", "NumVics"]].head()

                      Name  NumVics
0  Anderson, Joshua Julius        5
1        Beach, Aleata Mae        4
2     Braun, Gregg Francis        5
3    Coleman, Charles Troy        3
4           Comer, Chester        5

In [788]:
# Create dataframe for Oregon

csv_path = "ORserial.csv"
OR_df = pd.read_csv(csv_path, encoding = "ISO-8859-1")
OR_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,41,"Armstrong, John Eric",NaN,362407-2084912M,MI- Michigan Reformaory,Serial,1,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,6.0
1,59,"Rode, Adolph James","Barone, Cesar",NaN,NaN,Serial,1,1.0,1.0,0.0,...,0,0,0.0,0.0,44.0,NaN,NaN,NaN,NaN,NaN
2,83,"Bennett, Robert Eugene","ANDERSON, ROY WILLIAM; BENNETT, JOSEPH KING",53260,UT - WASATCH,Serial,1,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,88,"Bernson, Stanley",NaN,269474,NaN,Serial,1,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,125,"Braae, Michael John",NaN,270679,NaN,Serial,1,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [789]:
OR_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Armstrong, John Eric",Serial,6.0,"USA-United States, HKG-Hong Kong, SGP-Singapor...",HI / VA / OR / MI / NC,1973.0,20.0,1992.0,2000.0,2000.0,1990.0,Enjoyment - Rape,0.0,1.0,1.0
1,"Rode, Adolph James",Serial,5.0,USA-United States,OR / FL,1960.0,30.0,1979.0,1992.0,1900.0,1970.0,Enjoyment - Rape,1.0,0.0,0.0
2,"Bennett, Robert Eugene",Serial,2.0,USA-United States,OR / UT,1938.0,40.0,1978.0,1989.0,1900.0,1970.0,Anger - Revenge,NaN,NaN,NaN
3,"Bernson, Stanley",Serial,2.0,USA-United States,WA / OR,1936.0,39.0,1978.0,1979.0,1900.0,1970.0,Enjoyment - No rape,1.0,NaN,NaN
4,"Braae, Michael John",Serial,4.0,USA-United States,WA / OR,1959.0,37.0,1997.0,2001.0,2000.0,1990.0,Anger - Lost Control,1.0,NaN,NaN

In [790]:
OR_df[["Name", "NumVics"]].head()

                     Name  NumVics
0    Armstrong, John Eric      6.0
1      Rode, Adolph James      5.0
2  Bennett, Robert Eugene      2.0
3        Bernson, Stanley      2.0
4     Braae, Michael John      4.0

In [791]:
# Create dataframe for Pennsylvania

csv_path = "PAserial.csv"
PA_df = pd.read_csv(csv_path)
PA_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,109,"Bolber, Morris",NaN,D-6210,PA - Eastern State Penitentiary,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,"1391,1582",NaN,NaN
1,114,"Bomar, Arthur Jerome",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,132,"Breslin, Joseph F.",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
3,222,"Christenson, William Dean",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,225,"Christopher, Leonard",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN

In [792]:
PA_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Bolber, Morris",Serial,30,USA-United States,PA,1890.0,NaN,1932.0,1938,1900,1930.0,Financial Gain,NaN,NaN,NaN
1,"Bomar, Arthur Jerome",Serial,3,USA-United States,PA,1959.0,37.0,1978.0,1997,1900,1970.0,Enjoyment - Rape,NaN,NaN,NaN
2,"Breslin, Joseph F.",Serial,4,USA-United States,NV / CA / PA,1950.0,32.0,1982.0,1982,1900,1980.0,Multiple motives,1.0,NaN,NaN
3,"Christenson, William Dean",Serial,4,"USA-United States, CAN-Canada",PA / MD,NaN,36.0,1982.0,1983,1900,1980.0,Multiple motives,1.0,NaN,NaN
4,"Christopher, Leonard",Serial,9,USA-United States,PA,1951.0,33.0,1985.0,1990,1900,1980.0,Enjoyment - Rape,NaN,NaN,NaN

In [793]:
PA_df[["Name", "NumVics"]].head()

                        Name  NumVics
0             Bolber, Morris       30
1       Bomar, Arthur Jerome        3
2         Breslin, Joseph F.        4
3  Christenson, William Dean        4
4       Christopher, Leonard        9

In [794]:
# Create dataframe for Rhode Island

csv_path = "RIserial.csv"
RI_df = pd.read_csv(csv_path, encoding = "ISO-8859-1")
RI_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,291,"Cream, Thomas Neill Dr.",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,329,"Debardeleben, James Mitchell, II",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
2,579,"Johnson, Russell Maurice",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,582,"Jordan, Gilbert Paul",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,9,NaN,NaN,NaN,NaN,NaN
4,799,"Lassor, Raymond J.",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [795]:
RI_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Cream, Thomas Neill Dr.",Serial,7,"CAN-Canada, USA-United States, ENG-England",Ontario / IL / London,1850.0,27.0,1877.0,1892.0,1800.0,1870.0,Enjoyment - No rape,1.0,0.0,0.0
1,"Debardeleben, James Mitchell, II",Serial,3,USA-United States,LA / RI / MD / NJ,1940.0,31.0,1971.0,1982.0,1900.0,1970.0,Enjoyment - Rape,1.0,1.0,1.0
2,"Johnson, Russell Maurice",Serial,7,CAN-Canada,Ontario,1947.0,27.0,1973.0,1977.0,1900.0,1970.0,Enjoyment - Rape,1.0,NaN,NaN
3,"Jordan, Gilbert Paul",Serial,8,CAN-Canada,British Columbia,1931.0,33.0,1965.0,1987.0,1900.0,1960.0,Enjoyment,1.0,NaN,NaN
4,"Lassor, Raymond J.",Serial,3,USA-United States,RI,NaN,23.0,1984.0,1984.0,1900.0,1980.0,Enjoyment - Rape,NaN,NaN,NaN

In [796]:
RI_df[["Name", "NumVics"]].head()

                               Name  NumVics
0           Cream, Thomas Neill Dr.        7
1  Debardeleben, James Mitchell, II        3
2          Johnson, Russell Maurice        7
3              Jordan, Gilbert Paul        8
4                Lassor, Raymond J.        3

In [797]:
# Create dataframe for South Carolina

csv_path = "SCserial.csv"
SC_df = pd.read_csv(csv_path)
SC_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,19,"Allen, Quincy Javon",NaN,00006019,NaN,Serial,1,2,0.0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,48,"Atkins, Joseph Ernest",NaN,NaN,NaN,Serial,1,5,0.0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,77,"Bell, Larry Gene",NaN,39872,NaN,Serial,1,1,1.0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,118,"Bounds, Dallen Forrest",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,162,"Bryan, Joseph Francis Jr.",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [798]:
SC_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Allen, Quincy Javon",Serial,4.0,USA-United States,SC / NC,1979.0,22.0,2002.0,2002.0,2000.0,2000.0,Financial Gain - Robbery - Retail,NaN,NaN,NaN
1,"Atkins, Joseph Ernest",Serial,3.0,USA-United States,SC,1947.0,23.0,1969.0,1985.0,1900.0,1960.0,Anger - Revenge,1.0,1.0,1.0
2,"Bell, Larry Gene",Serial,3.0,USA-United States,SC / FL,1949.0,35.0,1984.0,1985.0,1900.0,1980.0,Enjoyment - Rape,1.0,NaN,NaN
3,"Bounds, Dallen Forrest",Serial,4.0,USA-United States,SC,1971.0,27.0,1999.0,1999.0,1900.0,1990.0,Financial Gain - Robbery - Retail,NaN,NaN,NaN
4,"Bryan, Joseph Francis Jr.",Serial,4.0,USA-United States,SC / FL / NJ / TN,1939.0,25.0,1964.0,1964.0,1900.0,1960.0,Enjoyment - Rape,1.0,NaN,NaN

In [799]:
SC_df[["Name", "NumVics"]].head()

                        Name  NumVics
0        Allen, Quincy Javon      4.0
1      Atkins, Joseph Ernest      3.0
2           Bell, Larry Gene      3.0
3     Bounds, Dallen Forrest      4.0
4  Bryan, Joseph Francis Jr.      4.0

In [800]:
# Create dataframe for South Dakota

csv_path = "SDserial.csv"
SD_df = pd.read_csv(csv_path)
SD_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,3193,"Sitts, George",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [801]:
SD_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Sitts, George",Serial,3,USA-United States,MN / SD,NaN,32,1945,1946,1900,1940,Multiple motives,NaN,NaN,NaN

In [802]:
SD_df[["Name", "NumVics"]].head()

            Name  NumVics
0  Sitts, George        3

In [803]:
# Create dataframe for Tennessee

csv_path = "TNserial.csv"
TN_df = pd.read_csv(csv_path)
TN_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,162,"Bryan, Joseph Francis Jr.",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,166,"Bullock, Leroy",NaN,00143727,TN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,328,"Day, William Scott",NaN,00129461,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,410,"Goble, Sean Patrick",NaN,0257362,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,412,"Goins, Glenn Isaac",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN

In [804]:
TN_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Bryan, Joseph Francis Jr.",Serial,4,USA-United States,SC / FL / NJ / TN,1939.0,25.0,1964,1964,1900,1960,Enjoyment - Rape,1.0,NaN,NaN
1,"Bullock, Leroy",Serial,7,USA-United States,AR / TN / VA,1943.0,44.0,1988,1989,1900,1980,Financial Gain - Robbery - Home Invasion,NaN,NaN,NaN
2,"Day, William Scott",Serial,6,USA-United States,AZ / TN / TX,1951.0,33.0,1986,1987,1900,1980,Financial Gain - Robbery - Random Street,1.0,NaN,NaN
3,"Goble, Sean Patrick",Serial,3,USA-United States,TN / NC / VA / OH,1966.0,28.0,1995,1995,1900,1990,Enjoyment - Rape,1.0,NaN,NaN
4,"Goins, Glenn Isaac",Serial,3,USA-United States,TN / KY / GA,NaN,17.0,1999,2004,2000,1990,Enjoyment - Rape,NaN,NaN,NaN

In [805]:
TN_df[["Name", "NumVics"]].head()

                        Name  NumVics
0  Bryan, Joseph Francis Jr.        4
1             Bullock, Leroy        7
2         Day, William Scott        6
3        Goble, Sean Patrick        3
4         Goins, Glenn Isaac        3

In [806]:
# Create dataframe for Texas

csv_path = "TXserial.csv"
TX_df = pd.read_csv(csv_path)
TX_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,13,"Albright, Charles Frederick",NaN,NaN,NaN,Serial,1,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
1,51,"Ball, Joseph D.",NaN,NaN,NaN,Serial,1,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,55,"Barber, Danny Lee",NaN,NaN,NaN,Serial,1,1.0,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,92,"Bible, Danny Paul",NaN,999455,TX - Polunsky,Serial,1,1.0,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,94,"Billingslea, Darrell Bernard",NaN,01588458,NaN,Serial,1,2.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [807]:
TX_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Albright, Charles Frederick",Serial,3,USA-United States,TX,1933.0,57.0,1990.0,1991,1900,1990.0,Enjoyment - No rape,1.0,1.0,0.0
1,"Ball, Joseph D.",Serial,3,USA-United States,TX,1896.0,41.0,1937.0,1938,1900,1930.0,Financial Gain - Cost Cutter,1.0,1.0,1.0
2,"Barber, Danny Lee",Serial,4,USA-United States,TX,1955.0,23.0,1978.0,1979,1900,1970.0,Financial Gain - Robbery - Home Invasion,NaN,NaN,NaN
3,"Bible, Danny Paul",Serial,4,USA-United States,TX,1950.0,31.0,1979.0,1983,1900,1970.0,Enjoyment - Rape,1.0,NaN,NaN
4,"Billingslea, Darrell Bernard",Serial,3,USA-United States,TX,1970.0,18.0,1989.0,2008,2000,1980.0,Anger - Revenge,NaN,NaN,NaN

In [808]:
TX_df[["Name", "NumVics"]].head()

                           Name  NumVics
0   Albright, Charles Frederick        3
1               Ball, Joseph D.        3
2             Barber, Danny Lee        4
3             Bible, Danny Paul        4
4  Billingslea, Darrell Bernard        3

In [809]:
# Create dataframe for Utah

csv_path = "UTserial.csv"
UT_df = pd.read_csv(csv_path)
UT_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,31,"Anderson, Russell M.",NaN,7030,NaN,Serial,1,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,40,"Arguelles, Roberto",NaN,NaN,NaN,Serial,1,3.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,98,"Bishop, Arthur Gary",NaN,NaN,NaN,Serial,1,1.0,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,434,"Franklin, Joseph Paul",NaN,990133,MO,Serial,1,1.0,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,563,"O`Neall, Darren Dee",ONeall,949114,NaN,Serial,1,2.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [810]:
UT_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Anderson, Russell M.",Serial,3,USA-United States,UT,1952.0,34.0,1987.0,1987.0,1900.0,1980.0,Financial Gain - Robbery,NaN,NaN,NaN
1,"Arguelles, Roberto",Serial,4,USA-United States,UT,1962.0,30.0,1992.0,1992.0,1900.0,1990.0,Enjoyment - Rape,1.0,NaN,NaN
2,"Bishop, Arthur Gary",Serial,5,USA-United States,UT,NaN,28.0,1979.0,1983.0,1900.0,1970.0,Enjoyment - Rape,1.0,0.0,0.0
3,"Franklin, Joseph Paul",Serial,21,USA-United States,GA / IN / MO / OH / OK / PA / TN / UT / VA / W...,1950.0,27.0,1977.0,1980.0,1900.0,1970.0,Anger - racial,0.0,1.0,1.0
4,"O`Neall, Darren Dee",Serial,6,USA-United States,WA / ID / UT,1960.0,26.0,1987.0,1987.0,1900.0,1980.0,Enjoyment - Rape,1.0,0.0,0.0

In [811]:
UT_df[["Name", "NumVics"]].head()

                    Name  NumVics
0   Anderson, Russell M.        3
1     Arguelles, Roberto        4
2    Bishop, Arthur Gary        5
3  Franklin, Joseph Paul       21
4    O`Neall, Darren Dee        6

In [812]:
# Create dataframe for Vermont

csv_path = "VTserial.csv"
VT_df = pd.read_csv(csv_path)
VT_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,837,"Luther, Thomas Edward",NaN,NaN,NaN,Serial,1,1,1,1,...,0,0,0,0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
1,978,"Paul, James Allen",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,1115,"Schaefer, Gary Lee",NaN,19167.0,NaN,Serial,1,1,1,1,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2838,"Keyes, Israel",NaN,NaN,NaN,Serial,1,1,1,1,...,0,0,1,0,NaN,NaN,NaN,NaN,Serial-Self Proclaimed,NaN

In [813]:
VT_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Luther, Thomas Edward",Serial,3,USA-United States,VT / CO / WV / PA,1957,25.0,1982,1993,1900,1980,Enjoyment - Rape,1.0,1.0,1.0
1,"Paul, James Allen",Serial,3,USA-United States,CT / NJ / VT,1947,37.0,1984,1984,1900,1980,Enjoyment - No rape,NaN,NaN,NaN
2,"Schaefer, Gary Lee",Serial,3,USA-United States,VT,1951,28.0,1979,1983,1900,1970,Enjoyment - Rape,1.0,NaN,NaN
3,"Keyes, Israel",Serial,11,USA-United States,AK / VT / WA,1978,NaN,2001,2012,2000,2000,NaN,1.0,NaN,NaN

In [814]:
VT_df[["Name", "NumVics"]].head()

                    Name  NumVics
0  Luther, Thomas Edward        3
1      Paul, James Allen        3
2     Schaefer, Gary Lee        3
3          Keyes, Israel       11

In [815]:
# Create dataframe for Virginia

csv_path = "VAserial.csv"
VA_df = pd.read_csv(csv_path, encoding = "ISO-8859-1")
VA_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,4,"Abuelazam, Elias","Eli, Elias Abullazam",842658,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,25,"Anderson, Allen Leroy",NaN,101147,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,32,"Andrews, Joshua Wayne",SCARFACE,404004,NaN,Serial,1,2,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,290,NaN,NaN
3,41,"Armstrong, John Eric",NaN,362407-2084912M,MI- Michigan Reformaory,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,6.0
4,43,"Arnold, Noah","Ford, Robert",NaN,NaN,Serial,1,2,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,2424,NaN,NaN

In [816]:
VA_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Abuelazam, Elias",Serial,5.0,USA-United States,MI / VA / OH,1976.0,33.0,2009.0,2010.0,2000.0,2000.0,Anger - Racial,0.0,NaN,NaN
1,"Anderson, Allen Leroy",Serial,8.0,USA-United States,CA / FL / MN / VA,1943.0,33.0,1976.0,1976.0,1900.0,1970.0,Financial Gain - Robbery - Random Street,1.0,NaN,NaN
2,"Andrews, Joshua Wayne",Serial,3.0,USA-United States,VA,1982.0,19.0,2001.0,2002.0,2000.0,2000.0,Financial Gain - Robbery - Home Invasion,1.0,NaN,1.0
3,"Armstrong, John Eric",Serial,6.0,"USA-United States, HKG-Hong Kong, SGP-Singapor...",HI / VA / OR / MI / NC,1973.0,20.0,1992.0,2000.0,2000.0,1990.0,Enjoyment - Rape,0.0,1.0,1.0
4,"Arnold, Noah",Serial,2.0,USA-United States,MN / FL / CA / VA,1892.0,24.0,1917.0,1923.0,1900.0,1910.0,Financial Gain,NaN,NaN,NaN

In [817]:
VA_df[["Name", "NumVics"]].head()

                    Name  NumVics
0       Abuelazam, Elias      5.0
1  Anderson, Allen Leroy      8.0
2  Andrews, Joshua Wayne      3.0
3   Armstrong, John Eric      6.0
4           Arnold, Noah      2.0

In [818]:
# Create dataframe for Washington

csv_path = "WAserial.csv"
WA_df = pd.read_csv(csv_path)
WA_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,52,"Ballard, Billy Ray",NaN,19860610001,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,66,"Batten, William Calvin",NaN,287380,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
2,88,"Bernson, Stanley",NaN,269474,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,91,"Bianchi, Kenneth A.","Walker, Steve; Billy; Ish; DAmato, Anthony A.;...",266961,WA - Washington State Penitentiary,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,170,NaN,NaN
4,95,"Bird, Jake",NaN,21520,WA - Walla Walla WSP,Serial,1,2,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [819]:
WA_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Ballard, Billy Ray",Serial,2,USA-United States,WA / WY,1953.0,31.0,1985.0,1985.0,1900.0,1980.0,Enjoyment - Rape,NaN,NaN,NaN
1,"Batten, William Calvin",Serial,3,USA-United States,WA,NaN,22.0,1969.0,1975.0,1900.0,1960.0,Enjoyment - No rape,1.0,NaN,NaN
2,"Bernson, Stanley",Serial,2,USA-United States,WA / OR,1936.0,39.0,1978.0,1979.0,1900.0,1970.0,Enjoyment - No rape,1.0,NaN,NaN
3,"Bianchi, Kenneth A.",Serial,12,USA-United States,CA / WA,1951.0,26.0,1977.0,1979.0,1900.0,1970.0,Enjoyment - Rape,0.0,0.0,1.0
4,"Bird, Jake",Serial,44,USA-United States,WA,1901.0,34.0,1935.0,1949.0,1900.0,1930.0,Enjoyment - Rape,1.0,NaN,NaN

In [820]:
WA_df[["Name", "NumVics"]].head(10)

                     Name  NumVics
0      Ballard, Billy Ray        2
1  Batten, William Calvin        3
2        Bernson, Stanley        2
3     Bianchi, Kenneth A.       12
4              Bird, Jake       44
5     Braae, Michael John        4
6  Bundy, Theodore Robert       31
7   Burkhart, Timothy Ray        4
8    Canaday, John Dwight        3
9  Carignan, Harvey Louis        5

In [821]:
# Create dataframe for West Virginia

csv_path = "WVserial.csv"
WV_df = pd.read_csv(csv_path)
WV_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,219,"Childers, James E.",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,434,"Franklin, Joseph Paul",NaN,990133,MO,Serial,1,1,1,1,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,837,"Luther, Thomas Edward",NaN,NaN,NaN,Serial,1,1,1,1,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
3,1008,"Powers, Harry F.",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1134,"Sells, Tommy Lynn",NaN,999367,NaN,Serial,1,1,1,1,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [822]:
WV_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Childers, James E.",Serial,3,USA-United States,WV,1964.0,41.0,2004,2009,2000,2000,Anger - Revenge,0.0,NaN,NaN
1,"Franklin, Joseph Paul",Serial,21,USA-United States,GA / IN / MO / OH / OK / PA / TN / UT / VA / W...,1950.0,27.0,1977,1980,1900,1970,Anger - racial,0.0,1.0,1.0
2,"Luther, Thomas Edward",Serial,3,USA-United States,VT / CO / WV / PA,1957.0,25.0,1982,1993,1900,1980,Enjoyment - Rape,1.0,1.0,1.0
3,"Powers, Harry F.",Serial,5,USA-United States,WV,1892.0,39.0,1931,1931,1900,1930,Enjoyment - Power - Bluebeard,1.0,0.0,0.0
4,"Sells, Tommy Lynn",Serial,29,USA-United States,TX / CA / ID / OR / MO / NY / NV / IL / MA / A...,1964.0,21.0,1985,1999,1900,1980,Enjoyment - Rape,1.0,1.0,1.0

In [823]:
WV_df[["Name", "NumVics"]].head()

                    Name  NumVics
0     Childers, James E.        3
1  Franklin, Joseph Paul       21
2  Luther, Thomas Edward        3
3       Powers, Harry F.        5
4      Sells, Tommy Lynn       29

In [824]:
# Create dataframe for Wisconsin

csv_path = "WIserial.csv"
WI_df = pd.read_csv(csv_path, encoding = "ISO-8859-1")
WI_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,154,"Brown, Kim S.",NaN,NaN,NaN,Serial,1,1.0,1.0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
1,247,"Coleman, Alton",NaN,865839,NaN,Serial,1,2.0,0.0,0.0,...,0,0,0,0,NaN,NaN,NaN,153.0,NaN,NaN
2,304,"Dahmer, Jeffrey",NaN,NaN,WI-Columbia Correctional Institute,Serial,1,1.0,1.0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,362,"Duquette, James",NaN,NaN,NaN,Serial,1,1.0,1.0,1.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,371,"Edwards, Edward Wayne",NaN,NaN,NaN,Serial,1,1.0,1.0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [825]:
WI_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Brown, Kim S.",Serial,3,USA-United States,WI,NaN,18.0,1987.0,1987.0,1900.0,1980.0,Enjoyment - Rape,1.0,1.0,1.0
1,"Coleman, Alton",Serial,8,USA-United States,IL / IN / OH / WI,1955.0,28.0,1984.0,1984.0,1900.0,1980.0,Enjoyment - Rape,1.0,1.0,1.0
2,"Dahmer, Jeffrey",Serial,17,USA-United States,WI,1960.0,18.0,1978.0,1991.0,1900.0,1970.0,Enjoyment - Rape,1.0,0.0,0.0
3,"Duquette, James",Serial,3,USA-United States,WI / IL,1958.0,19.0,1978.0,1987.0,1900.0,1970.0,Enjoyment - Rape,1.0,NaN,NaN
4,"Edwards, Edward Wayne",Serial,5,USA-United States,OH / WI,1933.0,44.0,1977.0,1996.0,1900.0,1970.0,Multiple motives,1.0,1.0,1.0

In [826]:
WI_df[["Name", "NumVics"]].head()

                    Name  NumVics
0          Brown, Kim S.        3
1         Coleman, Alton        8
2        Dahmer, Jeffrey       17
3        Duquette, James        3
4  Edwards, Edward Wayne        5

In [827]:
# Create dataframe for Wyoming

csv_path = "WYserial.csv"
WY_df = pd.read_csv(csv_path)
WY_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,367,"Eaton, Dale Wayne",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0,0,0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
1,572,"Silveria, Robert Joseph",NaN,11298172.0,NaN,Serial,1,1,1,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [828]:
WY_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Eaton, Dale Wayne",Serial,6,USA-United States,WY,1945,43,1988,2001,2000,1980,Enjoyment - Rape,1,1,1
1,"Silveria, Robert Joseph",Serial,11,USA-United States,OR / WY / UT / AZ / KS / WA / FL,1959,36,1989,1995,1900,1980,Enjoyment - No rape,1,0,1

In [829]:
WY_df[["Name", "NumVics"]].head()

                      Name  NumVics
0        Eaton, Dale Wayne        6
1  Silveria, Robert Joseph       11

In [830]:
# filtered columns

#_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

# Victim count

#_df[["Name", "NumVics"]].head()

In [831]:
# filtered columns

#_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

In [832]:
# List of all state dataframes

dfList = [AK_df, AL_df, AZ_df, AR_df, CA_df, CO_df, CT_df, DE_df, FL_df, GA_df, HI_df, ID_df, IL_df, IN_df, IA_df,
          KS_df, KY_df, LA_df, ME_df, MD_df, MA_df, MI_df, MN_df, MS_df, MO_df, MT_df, NE_df, NV_df, NH_df, NJ_df,
          NM_df, NY_df, NC_df, ND_df, OH_df, OK_df, OR_df, PA_df, RI_df, SC_df, SD_df, TN_df, TX_df, UT_df, VT_df, VA_df,
          WA_df, WV_df, WI_df, WY_df]

In [833]:
# Create function to filter down column headers

def reduceDF(df):
    return df[["ID","Name","KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]]

In [834]:
reduceDF(AK_df).head()

,ID,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,167,"Bunday, Thomas Richard",Serial,5,USA-United States,AK,1948.0,30.0,1979,1981,1900,1970,Enjoyment - Rape,NaN,NaN,1.0
1,191,"Carignan, Harvey Louis",Serial,5,USA-United States,MN / AK / WA,1927.0,46.0,1972,1974,1900,1970,Mental Illness - Visionary,1.0,1.0,1.0
2,278,"Courtney, Robert Lezelle",Serial,6,USA-United States,CA / AK,1944.0,13.0,1958,1992,1900,1950,Anger - Revenge,1.0,NaN,NaN
3,398,"Fautenberry, John Joseph",Serial,6,USA-United States,AK / OH / OR,1963.0,27.0,1990,1991,1900,1990,Financial Gain - Robbery - Random Street,1.0,1.0,1.0
4,589,"Hansen, Robert Christian",Serial,17,USA-United States,AK,1939.0,34.0,1973,1983,1900,1970,Enjoyment - Rape,1.0,1.0,0.0

In [835]:
# Create an array to hold the new, reduced list 
# Loop to make new reduced list

newDFList = []
for df in dfList:
    newDFList.append(reduceDF(df))

In [836]:
newDFList[0]

,ID,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,167,"Bunday, Thomas Richard",Serial,5,USA-United States,AK,1948.0,30.0,1979,1981,1900,1970,Enjoyment - Rape,NaN,NaN,1.0
1,191,"Carignan, Harvey Louis",Serial,5,USA-United States,MN / AK / WA,1927.0,46.0,1972,1974,1900,1970,Mental Illness - Visionary,1.0,1.0,1.0
2,278,"Courtney, Robert Lezelle",Serial,6,USA-United States,CA / AK,1944.0,13.0,1958,1992,1900,1950,Anger - Revenge,1.0,NaN,NaN
3,398,"Fautenberry, John Joseph",Serial,6,USA-United States,AK / OH / OR,1963.0,27.0,1990,1991,1900,1990,Financial Gain - Robbery - Random Street,1.0,1.0,1.0
4,589,"Hansen, Robert Christian",Serial,17,USA-United States,AK,1939.0,34.0,1973,1983,1900,1970,Enjoyment - Rape,1.0,1.0,0.0
5,898,"Meach, Charles L., III",Serial,5,USA-United States,AK,1947.0,24.0,1973,1982,1900,1970,Anger - Lost Control,1.0,NaN,NaN
6,1433,Bayquni,Serial,14,IDN-Indonesia,Jakarta,NaN,46.0,2007,2008,2000,2000,NaN,NaN,NaN,NaN
7,1640,Girish,Serial,4,IND-India,Kamataka,1984.0,26.0,2010,2010,2000,2010,Enjoyment - Rape,1.0,NaN,NaN
8,1656,"Greb, Alexander",Serial,3,RUS-Russia,Krasnoyaruzhsky / Rakitinsky,NaN,25.0,2004,2004,2000,2000,Anger,NaN,NaN,NaN
9,2052,"Reddy, Umesh",Serial,18,IND-India,Karnataka,NaN,NaN,2006,2006,2000,2000,Enjoyment,NaN,NaN,NaN
10,2838,"Keyes, Israel",Serial,11,USA-United States,AK / VT / WA,1978.0,NaN,2001,2012,2000,2000,NaN,1.0,NaN,NaN

In [875]:
tl = 0
newDFList = []
dfFinal = []

for df in dfList:
   Test = dfList[tl][["Name", "NumVics", "Kilcountry", "Kilstate", "YearFirst"]]
   dfFinal.append(Test)
   Test=pd.concat(dfFinal, axis=0)
   tl = tl+1
dfFinal

[                        Name  NumVics         Kilcountry  \
 0     Bunday, Thomas Richard        5  USA-United States
 1     Carignan, Harvey Louis        5  USA-United States
 2   Courtney, Robert Lezelle        6  USA-United States
 3   Fautenberry, John Joseph        6  USA-United States
 4   Hansen, Robert Christian       17  USA-United States
 5     Meach, Charles L., III        5  USA-United States
 6                    Bayquni       14      IDN-Indonesia
 7                     Girish        4          IND-India
 8            Greb, Alexander        3         RUS-Russia
 9               Reddy, Umesh       18          IND-India
 10             Keyes, Israel       11  USA-United States

                         Kilstate  YearFirst
 0                             AK       1979
 1                   MN / AK / WA       1972
 2                        CA / AK       1958
 3                   AK / OH / OR       1990
 4                             AK       1973
 5                             AK       1973
 6                        Jakarta       2007
 7                       Kamataka       2010
 8   Krasnoyaruzhsky / Rakitinsky       2004
 9                      Karnataka       2006
 10                  AK / VT / WA       2001  ,
                                Name  NumVics         Kilcountry  \
 0                Akin, Joseph Dewey       18  USA-United States
 1             Brown, Raymond Eugene        5  USA-United States
 2    Daughtrey, Earl Llewellyn, Jr.        3  USA-United States
 3                 Doss, Nancy Hazle       11  USA-United States
 4                      Glover, Fred       15  USA-United States
 5                Goodin, Anthony J.        6  USA-United States
 6               Siebert, Daniel Lee       10  USA-United States
 7               Britz, Jan Johannes        3   ZAF-South Africa
 8                     Jordaan, Juan        3   ZAF-South Africa
 9                      Hill, Walter        5  USA-United States
 10             Hodges, Willie James        3  USA-United States
 11            Howell, Michael Wayne        4  USA-United States
 12                Ivery, Samuel Lee        4  USA-United States
 13                 Jackson, O`Delle       15  USA-United States
 14                   Jackson, Pearl       15  USA-United States
 15                  Johnson, Peyton       15  USA-United States
 16              Jones, Jeremy Bryan       13  USA-United States
 17               Knowles, Paul John       20  USA-United States
 18                Lee, Derrick Todd       11  USA-United States
 19            Lewis, Gerald Patrick        7  USA-United States
 20                  Malvo, Lee Boyd       16  USA-United States
 21                    Marcus, Jerry        7  USA-United States
 22             Martin, Rhonda Belle        6  USA-United States
 23                Mendenhall, Bruce        9  USA-United States
 24                 Morse, Hugh Bion        4  USA-United States
 25             Muhammad, John Allen       16  USA-United States
 26                  Potts, Frank T.       15  USA-United States
 27                       Reed, John       15  USA-United States
 28                     Seay, Martez        5  USA-United States
 29            Sharp, Michael Eugene        5  USA-United States
 ..                              ...      ...                ...
 87                    Schwab, Josef        5      AUS-Australia
 88                Spinetti, Roberto        3          ITA-Italy
 89             Sukude, Themba Anton        4   ZAF-South Africa
 90                  Taki, Thozamile       13   ZAF-South Africa
 91               Tchayka, Alexander        4         RUS-Russia
 92                    Thwala, Sipho       19   ZAF-South Africa
 93                     Twala, Sipho       16   ZAF-South Africa
 94                 Vlassakis, James        4      AUS-Australia
 95         von Einem, Bevan Spencer        5      AUS-Australia
 96               Wagner, Robert Joe       11      AUS-Australia
 97            Weidenbroeker, Helmut        3        DEU-Germany
 98       Worrell, Christopher Robin        7      AUS-Australia
 99          Zepeda, Jose Luis Calva        3         MEX-Mexico
 100    Zikode, Mhlengwa Christopher       18   ZAF-South Africa
 101            Zimmerman, Rudi Paul        3        DEU-Germany
 102                     Clark, John        7  USA-United States
 103                  Mathis, Ben T.        3  USA-United States
 104                 McCray, Jermiah        5  USA-United States
 105                   Perkins, Mary        7  USA-United States
 106         Presley, Marcus Dewayne        3  USA-United States
 107      Khumalo, Vusimuzi Innocent        4   ZAF-South Africa
 108   Mthimkhulu, Ntokozo Skhumbuzo        6   ZAF-South Africa
 109                 Nkosi, Mthethwa        5   ZAF-South Africa
 110   Kuznetsov, Oleg Vladimirovich        9         RUS-Russia
 111            Arnold, Terry Samuel        3         CAN-Canada
 112            Bishop-Anderson, Amy        4  USA-United States
 113             Hoth, Gabriel Garza        3         MEX-Mexico
 114           Grantham, Curtis Ivey        3  USA-United States
 115     Peraita, Cuhuatemoc Hinricy        4  USA-United States
 116            Rose, Lindsay Robert        5      AUS-Australia

                                               Kilstate  YearFirst
 0                                              AL / GA     1991.0
 1                                                   AL     1960.0
 2                                              AL / GA     1971.0
 3                                 OK /  NC /  KS /  AL     1927.0
 4                                                   AL     1919.0
 5                                    AL / FL / GA / OK     1982.0
 6                                    AL / CA / NJ / NV     1979.0
 7                                        KwaZulu-Natal     1993.0
 8                                        KwaZulu-Natal     1999.0
 9                                              AL / GA     1952.0
 10                                        FL / OH / AL     2001.0
 11                                        AL / OK / TN     1987.0
 12                                   AL / CA / AZ / IL     1992.0
 13                                                  AL     1919.0
 14                                                  AL     1919.0
 15                                                  AL     1919.0
 16                                   AL / GA / LA / TX     1992.0
 17                         FL / NV / TX / AL / VA / GA     1974.0
 18                                             LA / AL     1992.0
 19                                        AL / GA / MA     1987.0
 20               AL / AZ / DC / GA / LA / MD / TX / VA     2002.0
 21                                   AL / MS / GA / TN     1970.0
 22                                                  AL     1937.0
 23                                   AL / TN / IN / GA     1992.0
 24                                        AL / MN / WA     1959.0
 25               AL / AZ / DC / GA / LA / MD / TX / VA     2002.0
 26                                                  AL     1977.0
 27                                                  AL     1919.0
 28                                                  AL     2008.0
 29                                             AL / TX     1982.0
 ..                                                 ...        ...
 87                                   Western Australia     1987.0
 88   Aosta Valley / Emilia-Romagna / Friuli-Venezia...     2003.0
 89                                       KwaZulu-Natal     2004.0
 90                                       KwaZulu-Natal     2007.0
 91                            Central Federal District     1994.0
 92                                       KwaZulu-Natal     1996.0
 93                                       KwaZulu-Natal     1997.0
 94                                     South Australia     1997.0
 95                                     South Australia     1979.0
 96                                     South Australia     1992.0
 97                              North Rhine-Westphalia     1982.0
 98                                     South Australia     1976.0
 99                                    Federal District     2004.0
 100                                      KwaZulu-Natal     1993.0
 101                                          Wuppertal     1971.0
 102                         AL /  TN /  VA /  IL /  OH     1908.0
 103                                                 AL     1963.0
 104                               VA /  OH /  GA /  AL     1956.0
 105                                                 AL     1954.0
 106                                                 AL     1996.0
 107                                      KwaZulu-Natal        NaN
 108                                      KwaZulu-Natal     2010.0
 109                                         Mpumalanga     2004.0
 110                           Central Federal District     1991.0
 111              British Columbia / Alberta / Manitoba     1981.0
 112                                            AL / MA     1986.0
 113                                   Federal District     1991.0
 114                                                 AL     1988.0
 115                                                 AL     1994.0
 116                                    New South Wales     1984.0

 [117 rows x 5 columns],
                              Name  NumVics         Kilcountry  \
 0         Canonico, Frank Anthony        8  USA-United States
 1           Coffman, Cynthia Lynn        4  USA-United States
 2     Danielson, Robert Wayne Jr.        7  USA-United States
 3              Day, William Scott        6  USA-United States
 4              Dudley, Irene Gwyn        6  USA-United States
 5           Dudley, Kenneth Edwin        6  USA-United States
 6                   Goudeau, Mark        9  USA-United States
 7               Greenawalt, Randy        7  USA-United States
 8            Gretzler, Douglas E.       17  USA-United States
 9         Silveria, Robert Joseph       11  USA-United States
 10            Britz, Jan Johannes        3   ZAF-South Africa
 11                  Jordaan, Juan        3   ZAF-South Africa
 12         Harding, Donald Eugene        7  USA-United States
 13               Hausner, Dale S.        7  USA-United States
 14              Hunt, David Scott        3  USA-United States
 15                 Inmon, William        3  USA-United States
 16              Ivery, Samuel Lee        4  USA-United States
 17                 Lee, Chad Alan        3  USA-United States
 18               Lehr, Scott Alan        3  USA-United States
 19                Malvo, Lee Boyd       16  USA-United States
 20          Marlow, James Gregory        4  USA-United States
 21             Milam, Garland Ray        3  USA-United States
 22             Morris, Cory Deonn        5  USA-United States
 23           Muhammad, John Allen       16  USA-United States
 24    Schmid, Charles Howard, Jr.        3  USA-United States
 25    Schmidt, William Cecil, Jr.        3  USA-United States
 26              Sells, Tommy Lynn       29  USA-United States
 27       Skillicorn, Dennis James        5  USA-United States
 28       Steelman, William Luther       17  USA-United States
 29          Stuard, James William        3  USA-United States
 ..                            ...      ...                ...
 38          Brydges, Ralph Lionel        6          ITA-Italy
 39              Cassandra, Simone        3          ITA-Italy
 40               Dlamini, Bongani        5   ZAF-South Africa
 41                    Dube, Sipho        7   ZAF-South Africa
 42                 Duma, Sibusiso        7   ZAF-South Africa
 43                Egidi, Lionello        7          ITA-Italy
 44            Giugliano, Maurizio        8          ITA-Italy
 45         Magoso, Phillip Khehla        5   ZAF-South Africa
 46          Mfeka, Samuel Bongani        6   ZAF-South Africa
 47                Mpungose, Simon        4   ZAF-South Africa
 48                 Msomi, Elifasi       15   ZAF-South Africa
 49             Msundwana, Mtimane        8   ZAF-South Africa
 50              Sandwene, Ntimane        8   ZAF-South Africa
 51              Serviatti, Cesare        5          ITA-Italy
 52           Sukude, Themba Anton        4   ZAF-South Africa
 53                Taki, Thozamile       13   ZAF-South Africa
 54                  Thwala, Sipho       19   ZAF-South Africa
 55                   Twala, Sipho       16   ZAF-South Africa
 56   Zikode, Mhlengwa Christopher       18   ZAF-South Africa
 57             Bush, Jason Eugene        4  USA-United States
 58      Carlson, Michael Jonathon        3  USA-United States
 59                   Gibson, Mose        7  USA-United States
 60                 Hooper, Murray        6  USA-United States
 61        Roberts, Joseph Douglas        3  USA-United States
 62     Khumalo, Vusimuzi Innocent        4   ZAF-South Africa
 63  Mthimkhulu, Ntokozo Skhumbuzo        6   ZAF-South Africa
 64             Crummel, James Lee        4  USA-United States
 65             Jones, Robert Glen        7  USA-United States
 66                Yazzie, Orlando        3  USA-United States
 67                  Martini, John        8  USA-United States

                                              Kilstate  YearFirst
 0                                   FL / CA / LA / AZ     1979.0
 1                                             AZ / CA     1986.0
 2                                        OR / AZ / CA     1970.0
 3                                        AZ / TN / TX     1986.0
 4                          VA /  NY /  FL /  AZ /  KY     1958.0
 5                          VA /  NY /  FL /  AZ /  KY     1958.0
 6                                                  AZ     2005.0
 7                                             AZ / CO     1974.0
 8                                             AZ / CA     1973.0
 9             OR /  WY /   UT /  AZ /  KS /  WA /  FL     1989.0
 10                                      KwaZulu-Natal     1993.0
 11                                      KwaZulu-Natal     1999.0
 12                                  AR / AZ / CA / TX     1979.0
 13                                                 AZ     2005.0
 14                                                 AZ     1992.0
 15                                                 AZ     2007.0
 16                                  AL / CA / AZ / IL     1992.0
 17                                                 AZ     1992.0
 18                                                 AZ     1991.0
 19              AL / AZ / DC / GA / LA / MD / TX / VA     2002.0
 20                                            AZ / CA     1986.0
 21                                            TN / AZ     2005.0
 22                                                 AZ     2002.0
 23              AL / AZ / DC / GA / LA / MD / TX / VA     2002.0
 24                                                 AZ     1964.0
 25                                            GA / AZ     1987.0
 26  TX / CA / ID / OR / MO / NY / NV / IL / MA / A...     1985.0
 27                                            MO / AZ     1994.0
 28                                            AZ / CA     1973.0
 29                                                 AZ     1989.0
 ..                                                ...        ...
 38                                              Lazio     1924.0
 39                                              Lazio     1992.0
 40                           KwaZulu-Natal /  Gauteng     1999.0
 41                           KwaZulu-Natal /  Gauteng     2001.0
 42                                      KwaZulu-Natal     2007.0
 43                                              Lazio     1950.0
 44                                              Lazio     1983.0
 45                                      KwaZulu-Natal     1983.0
 46                                      KwaZulu-Natal     1995.0
 47                                      KwaZulu-Natal     1983.0
 48                                      KwaZulu-Natal     1953.0
 49                                      KwaZulu-Natal     1929.0
 50                                      KwaZulu-Natal     1929.0
 51                                              Lazio     1928.0
 52                                      KwaZulu-Natal     2004.0
 53                                      KwaZulu-Natal     2007.0
 54                                      KwaZulu-Natal     1996.0
 55                                      KwaZulu-Natal     1997.0
 56                                      KwaZulu-Natal     1993.0
 57                                           AZ /  WA     1997.0
 58                                                 AZ     2003.0
 59                               CA /  AZ /  LA /  FL     1908.0
 60                                            AZ / IL     1980.0
 61                                                 AZ     2007.0
 62                                      KwaZulu-Natal        NaN
 63                                      KwaZulu-Natal     2010.0
 64                                            AZ / CA     1967.0
 65                                                 AZ     1996.0
 66                                            AZ / FL     1986.0
 67                                       NJ / AZ / PA     1977.0

 [68 rows x 5 columns],
                          Name  NumVics  \
 0              Bullock, Leroy        7
 1     Cream, Thomas Neill Dr.        7
 2            Denton, Earl Van        6
 3         Hall, James Waybern        5
 4         Olson, Devon Stuart        4
 5    Johnson, Russell Maurice        7
 6      Harding, Donald Eugene        7
 7       Matajke, Dorothy Jean        3
 8       Pruett, Marion Albert        6
 9          Quinn, Jane Taylor        3
 10           Ronning, Michael        7
 11           Smith, Mark Alan        7
 12      Swindler, John Edward        4
 13          Tuggle, Debra Sue        5
 14       Wallace, George Kent        5
 15         Ward, Ronald James        3
 16      Williams, John Robert       10
 17             Abel, Wolfgang       28
 18                    Bayquni       14
 19          Belloli, Giuseppe        3
 20     Bernardo, Paul Kenneth        3
 21            Bichel, Andreas       50
 22            Boggia, Antonio        4
 23             Caleffi, Sonya       15
 24      Chagas, Francisco Das       42
 25            Cianci, Antonio        6
 26           Cleroux, Camille        3
 27               Colak, Adnan       17
 28            Collalto, Guido        3
 29          Corio, Pier Luigi        3
 ..                        ...      ...
 46        Pasinelli, Giordano        3
 47  Pathan, Aziz Khan Mohamad       15
 48           Quaglini, Milena        3
 49               Reddy, Umesh       18
 50             Sahu, Sadashiv       22
 51             Shah, Abdullah       20
 52        Shaikh, Javed Ahmed        3
 53      Snow, David Alexander        3
 54            Woodcock, Peter        3
 55              Yadav, Sanjay        8
 56          Zinnanti, Gaspare        6
 57      Zwanziger, Anna Maria        4
 58         Cumberland, Rachel       10
 59   Johnson, Brandon Dewayne        3
 60        Martin, Willie Wash        7
 61      Archer, Gerald Thomas        3
 62     Armstrong, Donald Eric        3
 63        Dhillon, Sukhwinder        6
 64         Gillis, Paul Cecil        3
 65         Hall, Carl Earnest        3
 66            Hector, Michael        3
 67     MacDonald, Allan Craig        3
 68             Kalander, Raja       14
 69      Jones, William Daniel        4
 70          Grinder, James B.        4
 71               Singh, Major        7
 72              Pandey, Gopal        3
 73            Lahariya, Dilip        3
 74         Gay, Randy William        3
 75                  Bush, Ian        3
