In [1]:
import pandas as pd

In [2]:
# Create dataframe for Alaska

csv_path = "AKserial.csv"
AK_serial_df = pd.read_csv(csv_path)
AK_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,167,"Bunday, Thomas Richard",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,191,"Carignan, Harvey Louis",NaN,100736.0,MN - Minnesota Correctional Facility Stillwater,Serial,1,1,1,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,278,"Courtney, Robert Lezelle",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,398,"Fautenberry, John Joseph",NaN,279989.0,NaN,Serial,1,1,1,1,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,589,"Hansen, Robert Christian",NaN,12882.0,AK - Spring Creek Correctional Center,Serial,1,1,1,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Create dataframe for Alabama

csv_path = "ALserial.csv"
AL_serial_df = pd.read_csv(csv_path)
AL_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,11,"Akin, Joseph Dewey",NaN,NaN,NaN,Serial,1.0,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
1,155,"Brown, Raymond Eugene",NaN,NaN,NaN,Serial,1.0,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,313,"Daughtrey, Earl Llewellyn, Jr.",NaN,NaN,NaN,Serial,1.0,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
3,346,"Doss, Nancy Hazle","Doss, Nanny; Hazle Nancy; Hazel, Nancy",NaN,NaN,Serial,2.0,1,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,409,"Glover, Fred",NaN,NaN,NaN,Serial,1.0,2,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Create dataframe for Arizona

csv_path = "AZserial.csv"
AZ_serial_df = pd.read_csv(csv_path)
AZ_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,187,"Canonico, Frank Anthony",NaN,083805,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,243,"Coffman, Cynthia Lynn",NaN,W34001,CA - CCWF,Serial,2,1,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,859,NaN,4.0
2,310,"Danielson, Robert Wayne Jr.",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,328,"Day, William Scott",NaN,00129461,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,352,"Dudley, Irene Gwyn",NaN,NaN,NaN,Serial,2,1,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,353,NaN,NaN

In [6]:
# Create dataframe for Arkansas

csv_path = "ARserial.csv"
AR_serial_df = pd.read_csv(csv_path, encoding = "ISO-8859-1")
AR_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,166,"Bullock, Leroy",NaN,00143727,TN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,291,"Cream, Thomas Neill Dr.",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,335,"Denton, Earl Van",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,537,"Hall, James Waybern",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,561,"Olson, Devon Stuart",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Self Proclaimed,NaN

In [7]:
# Create dataframe for Californa

csv_path = "CAserial5ormore.csv"
CA_serial_df = pd.read_csv(csv_path)
CA_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,14,"Alcala, Rodney James",NaN,C18300,CA - San Quentin,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,25.0,NaN,NaN,NaN,NaN,NaN
1,25,"Anderson, Allen Leroy",NaN,101147,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,36,"Archerd, William Dale",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,49,"Atkins, Susan",NaN,WO8304,CA,Serial,2,1,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,856,NaN,NaN
4,91,"Bianchi, Kenneth A.","Walker, Steve; Billy; Ish; DAmato, Anthony A.;...",266961,WA - Washington State Penitentiary,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,170,NaN,NaN

In [8]:
# Create dataframe for Colorado

csv_path = "COserial.csv"
CO_serial_df = pd.read_csv(csv_path)
CO_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,158,"Browne, Robert Charles",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,164,"Buenoano, Judias",NaN,NaN,NaN,Serial,2,1,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,169,"Bundy, Theodore Robert","Bundy, Ted",A069063,FL - Raiford,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,407,"Glatman, Harvey Murray",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,495,"Gray, Marvin",NaN,43475,NaN,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Self Proclaimed,NaN

In [9]:
# Create dataframe for Connecticut

csv_path = "CTserial.csv"
CT_serial_df = pd.read_csv(csv_path)
CT_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,39,"Archer-Gilligan, Amy",NaN,NaN,NaN,Serial,2,1,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,133,"Breton, Robert, J. Sr.",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,196,"Carr, Robert Frederick, III",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,301,"Culombe, Arthur",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,1218.0,NaN,NaN
4,369,"Edel, Frederick W.",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN

In [11]:
# Create dataframe for Delaware

csv_path = "DEserial.csv"
DE_serial_df = pd.read_csv(csv_path, encoding = "ISO-8859-1")
DE_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,244,"Cohen, Charles Mark",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,663,"Hunt, Brian Alpress",NaN,775734.0,NaN,Serial,1,1,1,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,734,"Jones, Sydney",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,984,"Pennell, Steven Brian",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,1040,"Red Dog, James Allen",NaN,NaN,NaN,Serial,1,5,0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# Create dataframe for Florida

csv_path = "FLAserial.csv"
FL_serial_df = pd.read_csv(csv_path)
FL_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,2,"Ables, Tony Alvin","THADAISIS GORDON, MICHAEL JONES, JAMES SELBEY","29850, 029850",FL - LAKE C.I.,Serial,1,2,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,25,"Anderson, Allen Leroy",NaN,101147,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,59,"Rode, Adolph James","Barone, Cesar",NaN,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,44,NaN,NaN,NaN,NaN,NaN
3,77,"Bell, Larry Gene",NaN,39872,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,78,"Bell, Michael Bernard",NaN,108426,FL - UNION C.I.,Serial,1,2,0.0,0.0,...,0,0,0.0,0.0,"25,25,25",NaN,NaN,NaN,NaN,NaN

In [13]:
# Create dataframe for Georgia

csv_path = "GAserial.csv"
GA_serial_df = pd.read_csv(csv_path)
GA_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,11,"Akin, Joseph Dewey",NaN,NaN,NaN,Serial,1.0,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
1,15,"Allanson, Patricia Radcliffe","Taylor, Patricia; TAYLOR,MARY RADCLIFF; ALLISO...",0000394526,GA - Pulaski State Prison,Serial,2.0,1.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
2,54,"Bankston, Clinton",NaN,0000468785,GA - DOOLY STATE PRISON,Serial,1.0,2.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,75,"Belcher, Howard Milton",NaN,1076495,NaN,Serial,1.0,2.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,96,"Birt, Billy Sunday",NaN,403007,GA - SMITH STATE PRISON,Serial,1.0,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
# Create dataframe for Hawaii

csv_path = "HIserial.csv"
HI_serial_df = pd.read_csv(csv_path)
HI_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,41,"Armstrong, John Eric",NaN,362407-2084912M,MI- Michigan Reformaory,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,6.0
1,1430,"Bartsch, Juergen",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1435,"Beck, Ernst Dieter",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1455,"Black, Robert",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1464,"Boost, Werner",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
# Create dataframe for Idaho

csv_path = "IDserial.csv"
ID_serial_df = pd.read_csv(csv_path)
ID_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,169,"Bundy, Theodore Robert","Bundy, Ted",A069063,FL - Raiford,Serial,1,1,1,1,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,358,"Duncan, Joesph Edward",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,563,"O`Neall, Darren Dee",ONeall,949114,NaN,Serial,1,2,0,0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,734,"Jones, Sydney",NaN,NaN,NaN,Serial,1,2,0,0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1000,"Pizzuto, Gerald Ross",NaN,NaN,NaN,Serial,1,1,1,1,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
# Create dataframe for Illinois

csv_path = "ILserial.csv"
IL_serial_df = pd.read_csv(csv_path, encoding = "ISO-8859-1")
IL_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,12,"Albanese, Charles M.",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,16,"Allen, Bill",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,27,"Anderson, Dale R.",NaN,B06156,IL - Pontiac Correctional,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
3,33,"Andrews, Ralph Raymond",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,67,"Baughman, John Earl",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN

In [19]:
# Create dataframe for Indiana

csv_path = "INserial.csv"
IN_serial_df = pd.read_csv(csv_path, encoding = "ISO-8859-1")
IN_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,17,"Allen, Howard Arthur",NaN,881978,Indiana,Serial,1,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,24,"Amos, Lowell Edwin",NaN,252661,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
2,68,"Baumeister, Herbert",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,102,"Bladel, Rudy",NaN,158760,MI - Southern Mich Correctional Maximum,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,142,"Britt, Eugene",NaN,963641,NaN,Serial,1,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
# Create dataframe for Iowa

csv_path = "IAserial.csv"
IA_serial_df = pd.read_csv(csv_path, encoding = "ISO-8859-1")
IA_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,521,"Nelson, Earle Leonard",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,582,"Jordan, Gilbert Paul",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,9,NaN,NaN,NaN,NaN,NaN
2,770,"Kinney, James Allen",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,996,"Piper, Donald Arthur",NaN,1153862.0,IA - Iowa State Penitentiary,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1026,"Race, Glen Douglas",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
# Create dataframe for Kansas

csv_path = "KSserial.csv"
KS_serial_df = pd.read_csv(csv_path)
KS_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,128,"Braun, Gregg Francis",NaN,NaN,NaN,Serial,1,1.0,1.0,1.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,346,"Doss, Nancy Hazle","Doss, Nanny; Hazle Nancy; Hazel, Nancy",NaN,NaN,Serial,2,1.0,0.0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,425,"Floyd, Cecil Henry",NaN,5271.0,NaN,Serial,1,1.0,1.0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,523,"Nemechek, Francis Donald",NaN,NaN,NaN,Serial,1,1.0,1.0,1.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,525,"Guatney, William J.",NaN,NaN,NaN,Serial,1,1.0,1.0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN

In [23]:
# Create dataframe for Kentucky

csv_path = "KYserial.csv"
KY_serial_df = pd.read_csv(csv_path)
KY_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,3,"Abner, Michael Andrew",NaN,"83679, 207751",KY - Kentucky State Penitentiary,Serial,1,1,1,1.0,...,0,0,0.0,0.0,20.0,NaN,NaN,NaN,NaN,NaN
1,101,"Bixler, Rodney Troy",NaN,166817,KY - Northpoint Training Center,Serial,1,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,182,"Cable, James Ray",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,237.0,NaN,NaN
3,213,"Charleston, Shavonda",NaN,152010,NaN,Serial,2,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,237,"Clopton, Phillip E.",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,182.0,NaN,NaN

In [24]:
# Create dataframe for Louisiana

csv_path = "LAserial.csv"
LA_serial_df = pd.read_csv(csv_path)
LA_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,105,"Blank, Daniel Joseph",NaN,NaN,NaN,Serial,1.0,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,122,"Boyd, Lucious",NaN,NaN,NaN,Serial,1.0,2.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
2,146,"Brooks, John",NaN,120387,NaN,Serial,1.0,2.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,187,"Canonico, Frank Anthony",NaN,083805,NaN,Serial,1.0,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,241,"Code, Nathaniel Robert Jr.",NaN,NaN,NaN,Serial,1.0,2.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
# Create dataframe for Maine

csv_path = "MEserial.csv"
MA_serial_df = pd.read_csv(csv_path)
MA_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,421,"Fisher, Constance",NaN,NaN,NaN,Serial,2,1,0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,633,"Hicks, James Rodney",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,736,"Joubert, John",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,992,"Pierce, Charles E.",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,Serial-Self Proclaimed,NaN
4,1130,"Segee, Robert Dale",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
# Create dataframe for Maryland

csv_path = "MDserial.csv"
MD_serial_df = pd.read_csv(csv_path, encoding = "ISO-8859-1")
MD_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,111,"Bolding, Jane Francis",NaN,NaN,NaN,Serial,2,1.0,0.0,0,...,0,0,0,0,NaN,NaN,NaN,NaN,Serial-Suspected,2.0
1,120,"Bowles, Gary Ray","Whitfield, Timothy; Boles, Gary Ray; Bowles, M...",86158.0,FL - UNION C.I.,Serial,1,1.0,1.0,0,...,0,0,0,0,999,NaN,NaN,NaN,NaN,NaN
2,186,"Cannon, Martha Patricia","Cannon, Lucretia",NaN,NaN,Serial,2,1.0,0.0,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,222,"Christenson, William Dean",NaN,NaN,NaN,Serial,1,1.0,1.0,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,228,"Clark, Hadden I.",NaN,233181.0,NaN,Serial,1,1.0,1.0,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
# Create dataframe for Massachusetts

csv_path = "MAserial.csv"
MA_serial_df = pd.read_csv(csv_path)
MA_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,275,"Costa, Antone Charles","Costa, Tony",NaN,NaN,Serial,1.0,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,318,"Davis, Bruce Alan",NaN,NaN,NaN,Serial,1.0,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,336,"DeSalvo, Albert Henry",NaN,NaN,NaN,Serial,1.0,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,350,"Drew, Carl H.",NaN,NaN,NaN,Serial,1.0,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,461,"Gaynor, Alfred J.",NaN,W68126,NaN,Serial,1.0,2,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
# Create dataframe for Michigan

csv_path = "MIserial.csv"
MI_serial_df = pd.read_csv(csv_path)
MI_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,4,"Abuelazam, Elias","Eli, Elias Abullazam",842658,NaN,Serial,1.0,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,24,"Amos, Lowell Edwin",NaN,252661,NaN,Serial,1.0,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
2,41,"Armstrong, John Eric",NaN,362407-2084912M,MI- Michigan Reformaory,Serial,1.0,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,6.0
3,47,"Atkins, Benjamin",NaN,237134,NaN,Serial,1.0,2.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,73,"Beck, Martha",NaN,NaN,NaN,Serial,2.0,1.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,402.0,NaN,NaN

In [30]:
# Create dataframe for Minnesota

csv_path = "MNserial.csv"
MN_serial_df = pd.read_csv(csv_path)
MN_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,25,"Anderson, Allen Leroy",NaN,101147.0,NaN,Serial,1,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,191,"Carignan, Harvey Louis",NaN,100736.0,MN - Minnesota Correctional Facility Stillwater,Serial,1,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,408,"Glaze, Billy Richard",NaN,NaN,NaN,Serial,1,5.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,642,"Hittle, Daniel Joe",NaN,NaN,NaN,Serial,1,1.0,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,810,"Lefthand, Michael Shane",NaN,162391.0,NaN,Serial,1,NaN,NaN,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
# Create dataframe for Mississippi

csv_path = "MSserial.csv"
MS_serial_df = pd.read_csv(csv_path)
MS_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,324,"Davis, Gregory",NaN,46640,NaN,Serial,1,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,355,"Dufour, Donald William","Defour, Donald William","44,888,061,222","MS, FL - UNION C.I.",Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,390,"Evans, Donald Leroy",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,418,"Goodman, Keith Eugene",NaN,91-B-0194,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,620,"Henderson, Robert Dale",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
# Create dataframe for Missouri

csv_path = "MOserial.csv"
MO_serial_df = pd.read_csv(csv_path)
MO_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,72,"Beardslee, Donald Jay",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,85,"Berdella, Robert Andrew",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,103,"Blair, Terry Anthony",Solid Gold,46436,MO - Potosi Correctional Center,Serial,1,2,0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,130,"Breeden, Gregory Wayne",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
4,156,"Brown, Vernon",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
# Create dataframe for Montana

csv_path = "MTserial.csv"
MT_serial_df = pd.read_csv(csv_path)
MT_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,439,"French, Anne",NaN,NaN,NaN,Serial,2,1,0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,440,"Mayer, William Donald",NaN,NaN,NaN,Serial,1,1,1,NaN,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,905,"Meirhofer, David",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,963,"Nance, Wayne Nathan",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
4,1040,"Red Dog, James Allen",NaN,NaN,NaN,Serial,1,5,0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
# Create dataframe for Nebraska

csv_path = "NEserial.csv"
NE_serial_df = pd.read_csv(csv_path)
NE_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,525,"Guatney, William J.",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
1,736,"Joubert, John",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,1182,"Sorenson, Della Sidel",NaN,NaN,NaN,Serial,2,1,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1212,"Stutzman, Eli, E., Jr.",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1285,"Victor, Clarence",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
# Create dataframe for Nevada

csv_path = "NVserial.csv"
NV_serial_df = pd.read_csv(csv_path)
NV_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,22,"Amati, Tony R.",NaN,66673,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,"697,1104",NaN,NaN
1,36,"Archerd, William Dale",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,99,"Bishop, Jesse Walter",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Self Proclaimed,NaN
3,132,"Breslin, Joseph F.",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
4,163,"Buchanan, Denise Dianna",NaN,62587,NV,Serial,2,1,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
# Create dataframe for New Hampshire

csv_path = "NHserial.csv"
NH_serial_df = pd.read_csv(csv_path)
NH_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,953,"Mudgett, Herman","Holmes, H. H.; Holmes, Henry Howard",NaN,NaN,Serial,1,1,1,1,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,1130,"Segee, Robert Dale",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,1502,"Chagas, Francisco Das",NaN,NaN,NaN,Serial,1,3,0,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2237,Yang Xinhai,Yang Zhiya,NaN,NaN,Serial,1,4,0,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2399,"Conkey, Craig",NaN,W60350,NaN,Serial,1,1,1,1,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
# Create dataframe for New Jersey

csv_path = "NJserial.csv"
NJ_serial_df = pd.read_csv(csv_path)
NJ_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,37,"Balaam, Anthony",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,79,"Bellamy, Shiquan",NaN,000378894D,NaN,Serial,1,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,93,"Biegenwald, Richard Fran","Black, Johnnie",0000573588,NJ,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,162,"Bryan, Joseph Francis Jr.",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,252,"Colvin, Dellmus Charles",NaN,A536490,OH - Madison Correctional Institution,Serial,1,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
# Create dataframe for New Mexico

csv_path = "NMserial.csv"
NM_serial_df = pd.read_csv(csv_path)
NM_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,53,"Ballinger, Delray",NaN,NaN,NM - New Mexico Boys School,Serial,1,1,1,0.0,...,0,0,0.0,0.0,2.0,NaN,NaN,"80,229",NaN,NaN
1,80,"Bender, Jesse Howard",NaN,NaN,NM - New Mexico Boys School,Serial,1,1,1,0.0,...,0,0,0.0,0.0,2.0,NaN,NaN,"53,229",NaN,NaN
2,106,"Bloomfield, Clifton Duane",NaN,460278 / 69115,NM - GCCF,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,128,"Braun, Gregg Francis",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,229,"Clark, Matthew",NaN,NaN,NM - New Mexico Boys School,Serial,1,1,1,0.0,...,0,0,0.0,0.0,2.0,NaN,NaN,"53,80",NaN,NaN

In [39]:
# Create dataframe for New York

csv_path = "NYserial.csv"
NY_serial_df = pd.read_csv(csv_path)
NY_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,5,"Acevedo, Francisco A.",NaN,09A2456,NY - WENDE,Serial,1,3,0,0.0,...,0,0,0.0,0.0,75,NaN,NaN,NaN,---,NaN
1,8,"Adorno, George C.",NaN,NaN,NaN,Serial,1,3,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,9,"Aguilera, Jesus",NaN,82A6287,NY - Great Meadow,Serial,1,3,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,10,"Aikens, Thomas",NaN,81B0028,NaN,Serial,1,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,"695,884",NaN,NaN
4,14,"Alcala, Rodney James",NaN,C18300,CA - San Quentin,Serial,1,1,1,1.0,...,0,0,0.0,0.0,25,NaN,NaN,NaN,NaN,NaN

In [40]:
# Create dataframe for North Carolina

csv_path = "NCserial.csv"
NC_serial_df = pd.read_csv(csv_path)
NC_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,19,"Allen, Quincy Javon",NaN,00006019,NaN,Serial,1,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,21,"Alston, Robert Sylvester",NaN,0006572,NC - Warren CI,Serial,1,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,41,"Armstrong, John Eric",NaN,362407-2084912M,MI- Michigan Reformaory,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,6.0
3,56,"Barfield, Velma Bullard",Margie Velma Bullard. Lillie Bullard,0019092,NC - North Carolina Correctional Institution f...,Serial,2,1,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,62,"Barton, Corey Robert",NaN,0663696,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
# Create dataframe for North Dakota

csv_path = "NDserial.csv"
ND_serial_df = pd.read_csv(csv_path)
ND_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,177,"Butler, Eugene",NaN,NaN,NaN,Serial,1.0,1.0,1.0,NaN,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,291,"Cream, Thomas Neill Dr.",NaN,NaN,NaN,Serial,1.0,1.0,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,573,"Britland, Mary Ann",NaN,NaN,NaN,Serial,2.0,1.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,575,"Jebson, Ronald",NaN,NaN,NaN,Serial,1.0,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,810,"Lefthand, Michael Shane",NaN,162391.0,NaN,Serial,1.0,NaN,NaN,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
# Create dataframe for Ohio

csv_path = "OHserial.csv"
OH_serial_df = pd.read_csv(csv_path, encoding = "ISO-8859-1")
OH_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,4,"Abuelazam, Elias","Eli, Elias Abullazam",842658,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,153,"Brown, Debra Denise",NaN,NaN,NaN,Serial,2,2,0,0.0,...,0,0,0.0,0.0,999.0,NaN,NaN,247.0,NaN,NaN
2,160,"Bruce, David Lance",NaN,A526704,NaN,Serial,1,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,197,"Carr, Thomas D.",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Self Proclaimed,NaN
4,247,"Coleman, Alton",NaN,865839,NaN,Serial,1,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,153.0,NaN,NaN

In [44]:
# Create dataframe for Oklahoma

csv_path = "OKserial.csv"
OK_serial_df = pd.read_csv(csv_path)
OK_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,28,"Anderson, Joshua Julius",NaN,586755,"OK - Oklahoma State Penitentiary, Mcalester",Serial,1,2,0,0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,70,"Beach, Aleata Mae",NaN,NaN,NaN,Serial,2,1,0,0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Self Proclaimed,NaN
2,128,"Braun, Gregg Francis",NaN,NaN,NaN,Serial,1,1,1,1,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,248,"Coleman, Charles Troy",NaN,103494,NaN,Serial,1,1,1,0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,253,"Comer, Chester",NaN,NaN,NaN,Serial,1,1,1,1,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
# Create dataframe for Oregon

csv_path = "ORserial.csv"
OR_serial_df = pd.read_csv(csv_path, encoding = "ISO-8859-1")
OR_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,41,"Armstrong, John Eric",NaN,362407-2084912M,MI- Michigan Reformaory,Serial,1,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,6.0
1,59,"Rode, Adolph James","Barone, Cesar",NaN,NaN,Serial,1,1.0,1.0,0.0,...,0,0,0.0,0.0,44.0,NaN,NaN,NaN,NaN,NaN
2,83,"Bennett, Robert Eugene","ANDERSON, ROY WILLIAM; BENNETT, JOSEPH KING",53260,UT - WASATCH,Serial,1,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,88,"Bernson, Stanley",NaN,269474,NaN,Serial,1,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,125,"Braae, Michael John",NaN,270679,NaN,Serial,1,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
# Create dataframe for Pennsylvania

csv_path = "PAserial.csv"
PA_serial_df = pd.read_csv(csv_path)
PA_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,109,"Bolber, Morris",NaN,D-6210,PA - Eastern State Penitentiary,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,"1391,1582",NaN,NaN
1,114,"Bomar, Arthur Jerome",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,132,"Breslin, Joseph F.",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
3,222,"Christenson, William Dean",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,225,"Christopher, Leonard",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN

In [49]:
# Create dataframe for Rhode Island

csv_path = "RIserial.csv"
RI_serial_df = pd.read_csv(csv_path, encoding = "ISO-8859-1")
RI_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,291,"Cream, Thomas Neill Dr.",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,329,"Debardeleben, James Mitchell, II",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
2,579,"Johnson, Russell Maurice",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,582,"Jordan, Gilbert Paul",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,9,NaN,NaN,NaN,NaN,NaN
4,799,"Lassor, Raymond J.",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
# Create dataframe for South Carolina

csv_path = "SCserial.csv"
SC_serial_df = pd.read_csv(csv_path)
SC_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,19,"Allen, Quincy Javon",NaN,00006019,NaN,Serial,1,2,0.0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,48,"Atkins, Joseph Ernest",NaN,NaN,NaN,Serial,1,5,0.0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,77,"Bell, Larry Gene",NaN,39872,NaN,Serial,1,1,1.0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,118,"Bounds, Dallen Forrest",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,162,"Bryan, Joseph Francis Jr.",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
# Create dataframe for South Dakota

csv_path = "SDserial.csv"
SD_serial_df = pd.read_csv(csv_path)
SD_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,3193,"Sitts, George",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
# Create dataframe for Tennessee

csv_path = "TNserial.csv"
TN_serial_df = pd.read_csv(csv_path)
TN_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,162,"Bryan, Joseph Francis Jr.",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,166,"Bullock, Leroy",NaN,00143727,TN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,328,"Day, William Scott",NaN,00129461,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,410,"Goble, Sean Patrick",NaN,0257362,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,412,"Goins, Glenn Isaac",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN

In [53]:
# Create dataframe for Texas

csv_path = "TXserial.csv"
TX_serial_df = pd.read_csv(csv_path)
TX_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,13,"Albright, Charles Frederick",NaN,NaN,NaN,Serial,1,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
1,51,"Ball, Joseph D.",NaN,NaN,NaN,Serial,1,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,55,"Barber, Danny Lee",NaN,NaN,NaN,Serial,1,1.0,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,92,"Bible, Danny Paul",NaN,999455,TX - Polunsky,Serial,1,1.0,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,94,"Billingslea, Darrell Bernard",NaN,01588458,NaN,Serial,1,2.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
# Create dataframe for Utah

csv_path = "UTserial.csv"
UT_serial_df = pd.read_csv(csv_path)
UT_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,31,"Anderson, Russell M.",NaN,7030,NaN,Serial,1,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,40,"Arguelles, Roberto",NaN,NaN,NaN,Serial,1,3.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,98,"Bishop, Arthur Gary",NaN,NaN,NaN,Serial,1,1.0,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,434,"Franklin, Joseph Paul",NaN,990133,MO,Serial,1,1.0,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,563,"O`Neall, Darren Dee",ONeall,949114,NaN,Serial,1,2.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
# Create dataframe for Vermont

csv_path = "VTserial.csv"
VT_serial_df = pd.read_csv(csv_path)
VT_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,837,"Luther, Thomas Edward",NaN,NaN,NaN,Serial,1,1,1,1,...,0,0,0,0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
1,978,"Paul, James Allen",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,1115,"Schaefer, Gary Lee",NaN,19167.0,NaN,Serial,1,1,1,1,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2838,"Keyes, Israel",NaN,NaN,NaN,Serial,1,1,1,1,...,0,0,1,0,NaN,NaN,NaN,NaN,Serial-Self Proclaimed,NaN

In [57]:
# Create dataframe for Virginia

csv_path = "VAserial.csv"
VA_serial_df = pd.read_csv(csv_path, encoding = "ISO-8859-1")
VA_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,4,"Abuelazam, Elias","Eli, Elias Abullazam",842658,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,25,"Anderson, Allen Leroy",NaN,101147,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,32,"Andrews, Joshua Wayne",SCARFACE,404004,NaN,Serial,1,2,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,290,NaN,NaN
3,41,"Armstrong, John Eric",NaN,362407-2084912M,MI- Michigan Reformaory,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,6.0
4,43,"Arnold, Noah","Ford, Robert",NaN,NaN,Serial,1,2,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,2424,NaN,NaN

In [58]:
# Create dataframe for Washington

csv_path = "WAserial.csv"
WA_serial_df = pd.read_csv(csv_path)
WA_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,52,"Ballard, Billy Ray",NaN,19860610001,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,66,"Batten, William Calvin",NaN,287380,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
2,88,"Bernson, Stanley",NaN,269474,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,91,"Bianchi, Kenneth A.","Walker, Steve; Billy; Ish; DAmato, Anthony A.;...",266961,WA - Washington State Penitentiary,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,170,NaN,NaN
4,95,"Bird, Jake",NaN,21520,WA - Walla Walla WSP,Serial,1,2,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
# Create dataframe for West Virginia

csv_path = "WVserial.csv"
WV_serial_df = pd.read_csv(csv_path)
WV_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,219,"Childers, James E.",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,434,"Franklin, Joseph Paul",NaN,990133,MO,Serial,1,1,1,1,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,837,"Luther, Thomas Edward",NaN,NaN,NaN,Serial,1,1,1,1,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
3,1008,"Powers, Harry F.",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1134,"Sells, Tommy Lynn",NaN,999367,NaN,Serial,1,1,1,1,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
# Create dataframe for Wisconsin

csv_path = "WIserial.csv"
WI_serial_df = pd.read_csv(csv_path, encoding = "ISO-8859-1")
WI_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,154,"Brown, Kim S.",NaN,NaN,NaN,Serial,1,1.0,1.0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
1,247,"Coleman, Alton",NaN,865839,NaN,Serial,1,2.0,0.0,0.0,...,0,0,0,0,NaN,NaN,NaN,153.0,NaN,NaN
2,304,"Dahmer, Jeffrey",NaN,NaN,WI-Columbia Correctional Institute,Serial,1,1.0,1.0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,362,"Duquette, James",NaN,NaN,NaN,Serial,1,1.0,1.0,1.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,371,"Edwards, Edward Wayne",NaN,NaN,NaN,Serial,1,1.0,1.0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
# Create dataframe for Wyoming

csv_path = "WYserial.csv"
WY_serial_df = pd.read_csv(csv_path)
WY_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,367,"Eaton, Dale Wayne",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0,0,0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
1,572,"Silveria, Robert Joseph",NaN,11298172.0,NaN,Serial,1,1,1,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN